[2014-08-31 14:46] mrmonday opened #1 "Support alternative DLTs"
Currently `DataLinkStream` is hard coded to use Ethernet - it should support arbitrary data link types.

[2014-08-31 14:48] mrmonday opened #2 "Windows support"
Currently all the code is written for Windows support, but it does not work:
 * On Win32 receives time out
 * On Win64 the tests segfault

These issues need investigating and fixing.

[2014-08-31 14:51] mrmonday opened #3 "Header/Packet Equality"
We need to decide what it means for an `XHeader` or `XPacket` to be equal. There are three possibilities:
- The entire packet must be equal, including payload
- Only the header must be equal
- Only selected parts of the header must be equal (ie. Ignore volatile fields such as TTL).

[2014-09-12 15:22] emberian opened #5 "Consider porting "Programming with pcap""
http://www.tcpdump.org/pcap.htm. Might be interesting for comparison!

[2014-10-29 10:37] mrmonday opened #11 "cargo build currently broken"
Building with cargo is currently broken due to: rust-lang/cargo#771. This means the Makefile will only work on FreeBSD right now, or other systems if cargo is unavailable (or an older version).

[2014-11-03 13:13] #11 closed, assigned to nobody

[2015-02-05 09:24] mrmonday opened #40 "Automated build infrastructure"
Currently we're using Travis CI for testing/building, unfortunately it can only build/test on Linux, and there are obviously multiple platforms that need testing. I can set up VMs/Vagrant/whatever for OS X/Windows/FreeBSD, but need to invest some time into automating builds etc.

[2015-02-05 14:11] cybergeek94 commented on #2
Win64 is no longer segfaulting. It's just hanging like Win32.

[2015-02-05 16:03] mrmonday commented on #2
See also pull #41. Thanks!

[2015-02-07 00:19] robo9k commented on #40
Note that [Travis CI offers OS X build environments](http://docs.travis-ci.com/user/osx-ci-environment/) upon [request](http://docs.travis-ci.com/user/multi-os/).
[AppVeyor offers Windows build enviroments](http://www.appveyor.com/docs/build-configuration#build-environment) for free for open source projects.

[2015-02-07 11:27] mrmonday commented on #40
Thanks for the information @robo9k! I've contacted the Travis CI guys to see about OS X support. I'm not sure what steps I need to take to get AppVeyor working, perhaps @cybergeek94 could lend a hand? Obviously it can't run the test suite yet, but we could get it building regularly.

With these set up, the only platform that would be missing is FreeBSD :dancers:

[2015-02-07 11:42] cybergeek94 commented on #40
I didn't know what AppVeyor was until just now when I googled it. I presume it's pretty similar to TravisCI, just gotta configure for a Windows environment.

[2015-02-07 11:44] mrmonday commented on #40
Looks like that, yeah. I don't think my Windows-foo is sufficient to put together the appveyor.yml script for it, I'd be happy to get it set up if someone put the effort into writing one though.

[2015-02-08 02:55] cybergeek94 commented on #2
Something just struck me as odd. All the examples I find of using the Packet API show allocating the packet, calling the read function, and freeing the packet all in the same thread--the same function, actually. But our tests create the packet in one thread and send it to another to be read into; perhaps the hanging is coming from dependency on thread-local data or some other thread insafety in th

[2015-02-08 17:25] mrmonday commented on #2
Looking at the definition of `PacketAllocatePacket` - http://dog.tele.jp/winpcap/html/Packet32_8c-source.html#l00686 - it seems it simply allocates some memory and returns it. It uses an unusual function which I haven't seen before, so following the trail...

The initial call:
[code]
Definition of `GlobalAllocPtr` from `windowsx.h`:
[code]
Documentation for `GlobalLock` and `GlobalAlloc`:
 * `Glob

[2015-02-09 09:02] cybergeek94 commented on #2
Guess what?! [I was right!][1]

[code]

Thus, the Packet API is *not* thread-safe. I'm thinking that the adapter has to be opened in the same thread that it's read from. I don't think that's a big problem, though. Just don't open the adapter until it's first read or written to, and have a different adapter instance for each end of the channel for `datalink_channel`.

[1]: https://github.com/cyberg

[2015-02-09 12:54] mrmonday commented on #2
Great work, good find! I'm very excited to see the test suite passing on Windows, seems like you're getting close :)

[2015-02-09 13:44] mrmonday commented on #2
I've added support for AppVeyor now, so there's CI for Win32. It would seem I broke the Windows build with some of my recent changes, I won't fix it though since I figure it'll make things a pain for you to merge.

I'd quite like to get it testing on Win64 as well, but one thing at a time!

[2015-02-09 13:46] mrmonday commented on #40
We're getting there!

 * The wonderful people over at TravisCI have enabled OS X builds for us. It's currently failing since the build environment isn't set up quite right yet, I'm working on it though.
 * I've added support for AppVeyor, which seems to be working - tests obviously don't pass just yet, but soon, hopefully.

Only FreeBSD left now, which could be problematic due to the lack of a nig

[2015-02-09 13:48] mrmonday commented on #40
I should also note that we're only testing on 32 bit Windows. I would ideally like to test 64 bit too, but one thing at a time (might be worth doing 32/64 builds for Linux and OS X too, now I think about it).

[2015-02-09 14:30] cybergeek94 commented on #2
There's something I want to experiment with. The `layer_2` test writes to and from the same adapter handle in two separate threads; that can't be good. Perhaps opening a separate handle for the reader and writer sides would be sufficient?

[2015-02-09 14:32] mrmonday commented on #2
Definitely worth a shot, yeah.

[2015-02-09 15:05] cybergeek94 commented on #2
Damn, just tried it. No dice. Separate handle for reading and writing, and I even tried commenting out the call to `DataLinkSenderImpl::send_to()` to see if it was just blocking the device. I just don't think it likes sending adapter handles across threads; it will have to be initialized in a thread-local.

[2015-02-09 15:09] cybergeek94 commented on #2
Actually, thread-local isn't necessary. We should open the adapter in `DataLinkReceiverImpl::iter()`. As for the sending side... I'm not sure. I haven't gotten a chance to experience possible thread-insafety with that side of it.

[2015-02-09 15:15] mrmonday commented on #2
I guess the thing to do is:

1. Check that this will actually fix this - make the send/receive tuple have `Option` fields for the adapter, then throw in a quick `if None = self.adapter` and initialise it in the relevant send/receive functions. This should be enough to have the adapter created in the correct thread without too much effort.
2. If it works, see if there's a way to do static initializ

[2015-02-09 15:27] cybergeek94 commented on #2
I fixed it, in this case. You know what it was? `read_buffer_size` was too small. The example I found set it to 512K but the test set it to only 128.

[2015-02-09 15:33] mrmonday commented on #2
There needs to be a real solution to the `*_buffer_size` problem, we have had sooo many issues caused due to it being the incorrect size, or we've used the wrong one or something...

[2015-02-09 15:34] cybergeek94 commented on #2
From the docs for `PacketSetBuff`:

The logic error looks to be a problem with a 0-length packet.

[2015-02-09 15:38] cybergeek94 commented on #2
Update: the `layer_2` test now passes with the sender logic uncommented, even sharing the same adapter handle across threads. `DataLinkChannelIteratorImpl::next()` needs to handle 0-length packets as it appears that's what happens on a timeout instead of an IoError.

[2015-02-14 12:50] mrmonday commented on #2
Awesome, great work!

I think we should remove the call to set a timeout - none of the other backends timeout, I merely added it as a debugging step (thought it seems it has caused greater confusion...)

It might be useful to support timeouts later, but for now let's not bother.

[2015-03-25 14:19] lukeasrodgers opened #55 "Issue getting IPs for interfaces on OSX"
I'm having an issue getting IP addresses for interfaces on OSX using `get_network_interfaces`.

The problem appears to be this code: https://github.com/libpnet/libpnet/blob/ea45c1d8b7d91b98ebe4b873d2f77fcd71c632dd/src/util.rs#L226-236.

If `old.ips` is `None`, (i.e. the first interface we found for a given name has no IPs), then the new ones will never be merged in.

I know you're working on a rew

[2015-03-25 15:33] mrmonday commented on #55
I won't be touching that piece of code - I'd love a pull request if you have the time and motivation :)

[2015-03-25 15:37] lukeasrodgers commented on #55
I'll see what I can do, cheers.

[2015-05-20 12:06] mfs opened #68 "Possible payload positioning issue."
The below code should construct an ICMP echo request packet. When capturing the packet with tcpdump it was showing up as an echo reply due to an extra byte between the destination address and the payload data. It's possible I'm just using the API incorrectly in some way, if so please let me know.

Captured packet including ethernet frame:
[code]
The issue is in the third line. The first two bytes

[2015-05-20 19:27] mrmonday commented on #68
Thrown together a fix for it in pull #69. Once Travis is passing I'll get it merged in. Thanks for reporting, sorry I missed you on IRC earlier!

The test suite currently doesn't utilise the `.set_payload()` method, since it was adapted from an old version of libpnet where that method wasn't available. I plan at some point to get line coverage running in Travis so that we can start pushing the cov

[2015-05-20 22:25] mfs commented on #68
Great, thanks. Really nice library. No problem with irc, time zones. I probably would have had to submit a test case anyway to show the issue I was having.

[2015-05-20 22:25] #68 closed

[2015-05-29 13:14] mrmonday commented on #55
Closed by pull #75.

[2015-05-29 13:14] #55 closed

[2015-06-15 03:40] cortesi opened #81 "NetworkInterface addresses and masks"
NetworkInterface would be much more useful if the interface addresses included the netmask. This might be done with a MaskedIP type that consists conceptually of a (ip, mask) tuple with some conveniences to check if a given address falls within the ip/mask combo. If you'd be willing to merge something like this, I can implement it for OSX and Linux.

[2015-06-15 06:33] mrmonday commented on #81
This would be great to have, it should be a relatively straight forwards addition - just modify the `ips` vector in `NetworkInterface` to contain tuples rather than just the IP, then modify `get_network_interfaces_impl()` to store both the `ifa_addr` and `ifa_mask` fields from the `struct ifaddrs` (more info about the struct is available from `man 3 getifaddrs`).

There shouldn't be any need for a

[2015-06-15 06:44] cortesi commented on #81
I'll have a look at it this evening. I think a new type would be better than tuples - among other things, it will give us a nice way to constrain the underlying types to be (ipv4, ipv4) and (ipv6, ipv6), rather than some mixture. I personally also want a number of utilities that can sensibly be attached to the type - iteration of all addresses within a ip/netmask specification, checking whether an

[2015-06-15 06:49] mrmonday commented on #81
You're probably right, that does sound sensible.

I'm rather busy for the next couple of days, but I'll try to review your pull as soon as I can!

[2015-06-15 07:09] cortesi opened #82 "bpf.datalink_channel gives misleading error"
On OSX, when datalink_channel fails to open a BPF device due to incorrect permissions, a confusing error is returned. This is because the code iterates over an arbitrary number of possible BPF devices and just returns the [last error](https://github.com/libpnet/libpnet/blob/master/src/datalink/bpf.rs#L77-L79) rather than the most pertinent one. Since the last tested BPF device almost certainly doe

[2015-06-15 07:17] mrmonday commented on #82
I would definitely prefer the former - and that would also fix the current hack which uses an arbitrary number of attempts - it should just keep going until the file does not exist, then return the error for the last BPF device which did exist (if there was one).

[2015-06-15 07:24] cortesi commented on #82
We can't rely on the bpf device numbers to be strictly contiguous, unfortunately. It's not too unusual to create new bpf devices on demand (mknod). The answer is probably to glob for "/dev/bpf*" and iterate over all files found.

[2015-06-15 08:02] mrmonday commented on #82
That sounds like a good approach. I don't have access to an OS X machine right now, would you mind working on this? Thanks!

[2015-06-16 21:53] cortesi commented on #82
Sure. I have some free time next week to turn back to the side project I'm using pnet for, and will look at this and the netmask issue then.

[2015-07-18 21:30] david415 opened #90 "Add TCP packet encoding/decoding"
Greetings. If it's OK with you I was thinking that this ticket could serve as an async comm channel alternative to `#libpnet`on IRC to discuss this feature addition.

[2015-07-20 07:49] david415 commented on #90
Here's my dev branch for this feature addition:
https://github.com/david415/libpnet/tree/90.add-tcp-packet.1

I've had some "working" commits... but the latest doesn't compile because of my incorrectly utilizing the variable length field; i've tried to implement this as described here:
https://github.com/libpnet/libpnet/pull/79#issue-88020109

[code]

maybe the u4 fields prevent this from compilin

[2015-07-20 07:52] david415 commented on #90
we also have some code here that is used to compose tcp/ip packets... with or without the ethernet header... although i did not get the layer3 linux raw socket transport to work yet.
https://github.com/david415/spray/blob/master/src/main.rs

[2015-07-20 10:33] mrmonday commented on #90
Sorry I've taken so long to reply, I've been busy the past couple of days. I already replied on IRC, but I'll reply here for completeness.

The error you're getting:
[code]
Is occurring because... well... I never implemented support for `Vec<u32>` in libpnet_macros. You have a couple of options here, either:
 * Add support for `Vec<u32>` in libpnet_macros.
 * Do what the IPv4 packet does, and use

[2015-07-21 00:58] david415 commented on #90
I got it to work! Now the Tcp struct has the optional variable length options field... and I've written unit tests that test this new functionality.

[2015-07-23 00:19] david415 opened #91 "remove code duplication for rfc1071 checksum"
I noticed there is a checksum function for IPv4 and for UDP... and they are nearly identical... I am looking into writing a checksum helper function for TCP... and but instead all three of these protocols should share the same checksum function.

Here's an example of good abstraction for providing checksums for all these protocols:
https://github.com/google/gopacket/blob/master/layers/tcpip.go

Th

[2015-07-23 11:46] mrmonday commented on #91
I'd happily accept a pull request removing the duplication if you want to throw one together - I don't have time to work on this myself right now unfortunately.

[2015-07-23 15:48] david415 commented on #91
Yes... I'm here to help out with code contributions. This ticket is now tied to #90 because I'm writing a set of helper functions for TCP encoding... I should be able to fix this in a few days or so.

[2015-07-23 17:34] david415 commented on #90
The TCP header length must be on a 4 byte boundary. The mandatory header section is 20 bytes. After that the optional section is variable length. The last section of the header; the padding. This padding my only be utilized if the options section is not evenly divisible by 4 bytes.

Here's our complete TCP header:

[code]

The next thing that I need to do is write some helper functions to assist i

[2015-07-26 18:39] david415 opened #92 "add rfc2460 ipv6 checksum function"
let it be known: i am volunteering to write this code.

The TCP checksum in a TCP/IPv6 packet uses the same rfc1071 checksum function but sets up the initial data differently. It's described in the rfc:
https://www.ietf.org/rfc/rfc2460.txt

This essentially means that the IPv6 pseudoheader for calculating the TCP checksum is necessarily different than the IPv4 pseudoheader... since the source and

[2015-08-01 18:38] david415 commented on #91
Furthermore we should do like gopacket does and abstract away the details of computing the pseudo-header; in fact we don't even need to create a pseudo-header... nor do we want to since memory copy is inefficient.

Instead we realize the since the checksum is based on addition and is therefore commutative and associative; we simply compute "some" pseudo-header checksum value... (either for IPv4 or

[2015-08-01 20:51] david415 commented on #91
here in my dev branch i've created a function to compute the ipv4 pseudo header... and a generic rfc1071 checksum function.... i also added the trait HasPseudoheader... so that both IPv4Packet and IPv6Packet and implement this trait:
https://github.com/david415/libpnet/tree/91.add-modular-checksum.0

the trouble is that is that I'm relatively new to rust and i can't get it to build yet:
[code]

[2015-08-01 23:33] david415 commented on #91
ok I got my dev branch to build... clearly the next step is to implement the modular TCP checksum function which uses the HasPseudoheader trait to compute the first part of the checksum. This TCP checksum doesn't care if it's TCP header is inside a IPv4 or IPv6 packet... it just concerns itself with passing the serialized TCP header + payload to the generic checksum function...

[2015-08-02 08:27] david415 commented on #91
in this dev branch i demonstrate a modular tcp checksum which not only shares code with the ipv4 checksum function but also is agnostic as to whether the tcp packet is encapsulated by ipv4 or ipv6...

https://github.com/david415/libpnet/tree/90.add-tcp-packet.1

however... i was unable to get my unit test doesn't work and i think this has to do with the optional field lengths because of this build

[2015-08-02 08:36] david415 commented on #91
here's the modular code sharing and ipv4 versus ipv6 agnostic tcp checksum function:
[code]

...because i've created the ipv6 pseudoheader implementation of the HasPseudoheader trait... the above function of course works with ipv6. We can easily write a similarly modular checksum function from UDP.

i've also created a similarly simple ipv4 checksum function:

[code]

[2015-08-02 09:09] david415 commented on #90
my latest work is in this dev branch https://github.com/david415/libpnet/tree/90.add-tcp-packet.1

It was easy to get my simple tcp header unit test to build and pass once I replaced the two u4 fields with a u8 field... now the tcp struct looks like this:

[code]

I think the next step is to finish this unit test by making it compute the TCP checksum using the new helper functions I wrote... and t

[2015-08-08 15:28] david415 commented on #90
currently this ticket is blocked on completing #91

[2015-08-08 15:29] david415 commented on #91
currently this ticket is blocked on fixing the unit test for ipv4 + tcp checksum; i get these kind of errors indicating my length method must be wrong:

[code]

[2015-08-09 13:03] mrmonday commented on #91
You should take a look at the backtrace to see where in your code it's failing - we can work from there. You may need to set RUST_BACKTRACE=1 to get a backtrace.

[2015-08-11 07:24] larseggert opened #97 "error: unresolved import `packet::ethernet::EthernetPacket`. There is no `EthernetPacket` in `packet::ethernet`"
Trying to compile with rust nightly, I get the following errors. (I don't need nightly, but with stable, I get different errors...)

[code]

[2015-08-11 09:16] david415 commented on #91
my latest dev branch:
https://github.com/david415/libpnet/tree/90.add-tcp-packet.1

currently the test fails like this:
[code]

[2015-08-11 11:44] mrmonday commented on #97
libpnet will only work with Rust nightly. I am unable to reproduce this with:

 * `rustc 1.4.0-nightly (5aca49c69 2015-08-10)`
 * `cargo 0.4.0-nightly (c033770 2015-08-09) (built 2015-08-09)`

Could you provide more details about compiler/cargo version and how you're compiling?

[2015-08-11 12:24] mrmonday opened #99 "Assertion failure when setting variable length fields."
The setter should instead return a `Result` specifying whether or not the setting could succeed. The code in question is at [pnet_macros/src/decorator.rs:624](https://github.com/libpnet/libpnet/blob/master/pnet_macros/src/decorator.rs#L624). It will currently cause an assertion failure if too many values are inserted without enough space.

[2015-08-11 12:26] mrmonday commented on #91
This appears to be an issue in `pnet_macros`, the code which is failing is generated at [pnet_macros/src/decorator.rs:624](https://github.com/libpnet/libpnet/blob/master/pnet_macros/src/decorator.rs#L624). This method should really return a `Result` rather than asserting. I've opened issue #99 for this.

Assuming the generated code is correct (it's possible that it isn't), the issue is that there

[2015-08-12 15:33] ytti opened #100 "panic on UDP frames where payload is less than 8B."
[1 ytti@lintukoto ~]% sudo hping -d 7 -0H 253 194.100.7.227

Causes this backtrace:
[code]
Changing -d to 8 and problem is gone.

Code is essentially:
[code]
here1 is never reached

[2015-08-12 15:35] larseggert commented on #97
rustc 1.4.0-nightly (febdc3b20 2015-08-09)
cargo 0.4.0 (c033770 2015-08-09) (built 2015-08-10)

[2015-08-12 15:53] mrmonday commented on #97
I can't reproduce this at all. Could you try again with a fresh clone of the repository, and show me the exact commands you follow to cause this? Thanks.

[2015-08-12 16:02] mrmonday commented on #100
Copy/pasting/tweaking what I said on IRC for longevity:
[code]

[2015-08-28 16:21] lbdremy opened #108 "Frame check sequence incorrect"
While running a slightly modified version of the `rs_sender.rs` file under rust nightly (version: _nightly.20150828164732_) the frame check sequence is incorrect according to wireshark and I don't receive the udp packet on the targeted server. I could not find in the source code where the FCS was computed.

Here is the script I use:

[code]

And here the Ethernet description given by wireshark in

[2015-08-28 16:38] mrmonday commented on #108
Could you tell me which operating system you are using, please?

If Linux, could you also post the output of `ethtool -k <interface name>`?

Thanks.

[2015-08-28 16:49] mrmonday commented on #108
Could you also provide information about your test setup? How are the machines connected, how are you invoking rs_sender, what do you see in wireshark on both the sender and receiver, what are the mac addresses of each machine, etc.

[2015-08-28 17:50] lbdremy commented on #108
Sure about the operating system:

[code]

The output of the command is:

[code]

When I run `rs_sender` I use the following command:

[code]

The ethernet port eth0:

[code]

The sender (rs_sender) and the receiver (udp server) run on the same machine.
I have an udp server (node.js) listening on all addresses and on the port 3535.
Here is the code:

[code]

[2015-08-28 17:56] mrmonday commented on #108
If you're sending and receiving on the same machine, you should use the loopback interface rather than an external port, eg `cargo run --example rs_sender lo 00:00:00:00:00:00` (mac address doesn't matter for loopback, and your interface may be called lo0 or something rather than just lo).

The only way this would work using external ports is if you have two Ethernet ports connected to each other,

[2015-08-28 18:23] lbdremy commented on #108
Ok thanks I did not know that.
I'm doing something else wrong probably because I'm getting the same error and I don't receive the packet on the udp server. I used your example `cargo run --example rs_sender lo 00:00:00:00:00:00`, also I checked I have the loopback interface `lo`:

[code]

I get this from wireshark:

[code]

[2015-08-29 14:48] mrmonday commented on #108
This seems to work for me, when done across a network, I can't get it working on the loopback interface though, I suspect packets need to be sent differently for it to work (perhaps omitting the Ethernet header? I'm not sure).

You can safely ignore the FCS/checksum errors from wireshark - these are due to sending a 64 byte buffer for a packet which is smaller than this. If you make the buffer 47

[2015-08-29 19:20] lbdremy commented on #108
I have played around playing the game of the differences with one udp packet sent from nodejs and one sent with rust/libpnet comparing them thanks to wireshark.

I found _five_ differences:
- the total size so I set it to 47 bytes like you suggested. (the FCS/checksum error is gone now)
- the ttl in the IP header, I set it to 64 instead of 4.
- the flags in the IP header, I set it to 0x02 like it

[2015-08-31 14:02] mrmonday commented on #108
Try sending without the Ethernet header, and see what happens. I suspect that the Ethernet header is not constructed when sending packets on the loopback interface, which causes the packet not to be received. There may even be a different header type which needs to be prepended. I'm not sure without digging into the kernel or finding the right place in the docs.

[2015-09-11 19:59] nixpulvis opened #109 "Ipv4 packet size issue"
Maybe I'm doing something wrong (always a distinct possibility) but i belive the following code should pass it's assertion.

[code]

I found this debugging an even more strange issue where the first bytes of the IP header were being used for the first bytes of my ICMP header, despite having the correct values in the payload of the IP packet.

[2015-09-11 20:10] mrmonday commented on #109
What is it you're trying to achieve exactly? In what scenario are you expecting `packet_size()` to return 60?

It's unlikely you want to use the `packet_size()` function, but rather `minimum_packet_size()`, or `packet.packet().len()`.

[2015-09-11 20:10] nixpulvis commented on #109
FWIW, here is a program which I am building to send ICMP echo requests, and using `tshark` am noticing the incorrect values for the `icmp.type` field.

[code]

Running this with ` tshark -f "icmp" -T fields -e "icmp.type" -e "icmp.code" -e "icmp.checksum" -e "icmp.ident" -e "icmp.seq"` running yeilds the following.

[code]

69 is the value of the first byte of the IP header, and in fact changing t

[2015-09-11 20:14] mrmonday commented on #109
If you're constructing the IP header, you shouldn't be using `Layer4(Ipv4(IpNextHeaderProtocols::Icmp))`, but rather `Layer3`. Additionally, you might like to take advantage of some of the packet construction stuff so you don't have to manually write out the binary values of all the fields.

[2015-09-11 20:18] nixpulvis commented on #109
lol, yea layer 3 is what I need. Such a simple thing to overlook. However I'm still concerned about the value of the packet size.

[2015-09-11 20:44] mrmonday commented on #109
I'm not sure why `packet_size()` is returning `30`, rather than `28`, I'd need to investigate it further. I'm leaning towards making it private rather than public though, its primary use case is for internal use in pnet_macros, for the purposes of calculating offsets.

It's possible there's a bug there, it needs further investigation though. If you want to investigate yourself, the `packet_size()`

[2015-09-20 12:04] charloco opened #112 "length_fn compile error"
I have the following test struct

#[packet]
pub struct MsgTest{

    source: u16be,

    destination: u16be,

    #[length_fn="msg_options_length"]

    options:Vec<u8>,

    #[payload]
    payload: Vec<u8>
}
this works well.But when I add "    t:u8," after options:Vec<u8> just as following codes:
pub struct MsgTest{

    source: u16be,

    destination: u16be,

    #[length_fn="msg_options_length

[2015-09-20 12:13] mrmonday commented on #112
It's hard to tell you what the issue is you're encountering without seeing the code that's causing it - by the looks of things it's certainly not an issue with libpnet.

There's more information about the error you're getting, and how to fix it, here: http://doc.rust-lang.org/nightly/error-index.html#E0382

If you post a more complete version of your code I'd be happy to help you fix it.

[2015-09-21 05:55] charloco commented on #112
in fact,i am trying to write a mqtt server with libpnet.So i do some test first.

I create a libpnet/src/packet/mqtt.rs

and give the test struct

[code]
I guess that between "length_fn" and "payload" any field should not insert,

or can say that length_fn cann't be placed any place.

the full error msg

[code]

and the "self_.packet[4 + mqtt_options_length(&self.to_immutable()) + 0]" comes from d

[2015-09-21 13:56] mrmonday commented on #112
Pull #113 should hopefully fix this.

[2015-09-21 14:06] mrmonday commented on #112
Fixed in master, and in 0.2.0 of pnet and pnet_macros crates on crates.io :)

[2015-09-21 14:06] #112 closed

[2015-09-22 08:37] charloco commented on #112
Thanks :smiley:

[2015-11-02 12:47] dovydas opened #119 "Interface to setsockopt"
Do you have any plans to expose an interface for setsockopt in TransportSender/TransportReceiver. There is currently no way to join multicast groups or set any other socket parameters, unless I'm missing something.
I'd gladly contribute!

[2015-11-02 14:04] mrmonday commented on #119
Hi @dovydas, thank you for your interest!

If you're interested in implementing this, I'll look forward to a pull request! We can discuss design for it here or on IRC if you like - I suspect there'll be some issues in terms of handling the differences between multiple platforms. Or you can just go ahead and I'll critique your work in a pull request later!

[2015-11-10 16:06] mrmonday commented on #2
Windows support now works, as of 0.4.0. See pull #121.

[2015-11-10 16:06] #2 closed

[2015-11-10 16:10] mrmonday opened #122 "Investegate why tests don't work on AppVeyor"
Some tests don't seem to work on AppVeyor, but work locally:

 * `layer3` and `layer4` tests fail sporadically with [WSAINVAL](https://msdn.microsoft.com/en-us/library/windows/desktop/ms740668%28v=vs.85%29.aspx#WSAEINVAL). It seems to be triggered by `recvfrom()` - https://msdn.microsoft.com/en-us/library/windows/desktop/ms740120%28v=vs.85%29.aspx
 * `layer2` times out whilst receiving packets

Se

[2015-11-22 19:50] mrmonday commented on #40
See issue #122. For what's left to do in terms of Windows CI.

Still missing are FreeBSD and netmap CI.

[2015-11-22 21:49] little-dude opened #128 "u16 for header fields in a packet should trigger an error"
From https://github.com/libpnet/libpnet/pull/89#issuecomment-158792770
Compiler should not accept `u16` attribute fields in a packet. Only  `u16be` or `u16le` are accepted.

[code]

[2015-11-22 23:30] mrmonday commented on #128
I never can remember the format for commit messages to make this happen automatically... Fixed now though!

[2015-11-22 23:30] #128 closed

[2015-12-01 20:36] mrmonday opened #132 "Disable clippy as default feature"
The build keeps breaking on nightly with it - perhaps CI should use it for testing pull requests, but not master?

[2015-12-04 00:25] lilred opened #133 "Support #![no_std]"
A lot of people are writing operating systems kernels in Rust, and they'll be looking for a network stack. `pnet` could be a choice option.

Some thoughts:

* `nom` implements this as a feature on their package. Compiling with the `core` feature means that `#![no_std]` compilation is supported.
* It's probably reasonable to assume support for `core`, `alloc`, and `collections`.
* On the other hand

[2015-12-05 11:39] mrmonday commented on #133
I definitely would like to see support for libpnet in the Rust-based OSes - unfortunately it's not as simply as supporting `#![no_std]` though. Some thoughts on the matter:

 * All the datalink backends are operating system specific, so by implementing a backend for <some OS>, you could support `#![no_std]` for it, depending on how it's implemented. Right now all backends require `libstd`, since i

[2015-12-05 12:15] little-dude commented on #133
that would be pretty awesome !

[2015-12-05 13:07] little-dude opened #134 "a few questions and issues about using libpnet"
## Checksum

When trying to implement icmp packets, I've added one `#[packet]` per icmp
type. Checksum calculation is the same for all those packets, but the function
I wrote for it only accepts one type of packets:

[code]

I didn't try too much but I guess I could solve this by implementing a trait
`IcmpChecksum` and use `#[derive(IcmpChecksum)]` on all the icmp packets.

## Struggling with owne

[2015-12-05 13:50] mrmonday commented on #134
I'm going to bounce between this and a few other things, so I'll reply as a series of comments over the next few hours rather than all at once:

##### Checksum

You should take a look at the work being done by @david415 in pulls #98 and #105. They were looking to break out the checksum functionality to remove the duplication. I don't know if they're still going with it or not. I think it's importa

[2015-12-05 14:45] mrmonday commented on #134
##### Nested `new`

I find the second thing you wrote to be a lot more readable, so I'm somewhat glad the compiler doesn't accept it! Here's what's happening (roughly) - the definition of `new` for the `*Packet` types is:

[code]

Obviously replacing `EthernetPacket` with whichever is appropriate.

What this says is "for some lifetime `'p`, given a slice of `u8`s, which lives for as long as `'p`,

[2015-12-05 16:15] mrmonday commented on #134
##### panic!

It looks like you've uncovered two bugs here, could you file issues for them? The test cases are as follows:

The issue you encountered:

[code]

Another issue I encountered whilst trying to reproduce:

[code]

Ultimately I want libpnet/pnet_macros to get to the point where it is possible to guarantee at compile time that none of it panics - it's definitely not in that state currentl

[2015-12-05 16:43] lilred commented on #133
Well, hello there :)

We're developping a library operating system in Rust targetting the Xen hypervisor. If everything goes well we're going to be working in a network stack at some point in the January-April period. `pnet` caught my eye - it's written in Rust and seems well-built.

It's possible that we'll fork `pnet` and send back patches. At worst, we'll use `pnet` as a reference implementatio

[2015-12-05 17:01] mrmonday commented on #133
There's definitely room for improvement in the libpnet API - I've had lots of ideas about changes I want to make, but not had sufficient time to implement them. I've been working on issue #1 recently (one of the biggest remaining limitations in libpnet's current API - that I know of), but haven't finished up my work on that yet.

You might be interested in taking a look at [my paper](http://octari

[2015-12-05 19:17] lilred commented on #133
Thank you so much for that paper - I'm currently writing up a paper about our progress thus far and our future plans. This is going to be a choice reference :)

[2015-12-06 11:13] mrmonday commented on #133
I hope it's useful to you!

Let me know if you have any questions, I'd be happy to answer them. It's fairly rough in places, there's definitely a sense of "last minute rush to get it done" at some points.

[2015-12-06 12:08] mrmonday commented on #81
@cortesi Are you still interested on working on this?

Implementation has become more urgent since rust-lang/rust#27801 was deprecated and rust-lang/rust#30187 was merged.

If you're still interested I'll let you work on it, otherwise I'll implement it myself.

[2015-12-06 12:17] david415 commented on #134
yes we should really make the proper abstractions here so we don't have code duplication for packet checksums... i think that this was not a good first rust project for me as i lost steam trying to debug the bit fiddling. i'd really just like for the library to exist in a complete enough form so that i can write scanning tools and protocol analysis tools like the infamous honeybadger. https://gith

[2015-12-06 12:42] mrmonday commented on #134
Great to have you back, @david415!

I agree, we need the proper abstractions in there - this was my first *real* networking project, which is why there's no abstraction in place in the first place - I didn't realise how ubiquitous the internet checksum was across different packet types. It didn't even occur to me that I'd written the same code multiple times until you pointed it out!

Bit fiddling

[2015-12-06 12:50] mrmonday opened #137 "Get libpnet building on stable Rust"
All the remaining features we rely on from the standard library have been either stabilised or deprecated for the 1.6 release cycle, with the exception of compiler plugins - we can use [syntex](https://github.com/serde-rs/syntex) to get around this issue.

[2015-12-06 12:52] mrmonday opened #138 "Little endian support for pnet_macros"
pnet_macros doesn't currently support little endian integers.

[2015-12-06 12:55] mrmonday opened #139 "Simple packet inspection"
Currently, `examples/packet_dump.rs` is 143 lines and growing. A simple packet logger should be writeable in less than 10 lines.

[2015-12-06 12:57] mrmonday opened #140 "Simple packet composition"
Currently, `benches/rs_sender.rs` is 112 lines long, compared to just 22 of `benches/py_sender.py`. It is possible to massively reduce the amount of code needed to compose packets in Rust, and this should be done.

[2015-12-06 13:04] mrmonday commented on #134
I've opened a milestone for things that need doing before libpnet 1.0: https://github.com/libpnet/libpnet/milestones/libpnet%201.0

Pretty much anything you come up with stands a good chance of getting on that list :)

[2015-12-06 13:12] mrmonday opened #141 "No panicking"
There are currently multiple locations where libpnet/the code generated by libpnet_macros could panic. The code should be audited to make sure everywhere returns a `Result` rather than panicking.

[2015-12-06 13:17] mrmonday opened #142 "Audit unsafe code"
The unsafe code in libpnet should be checked over. In particular:

 * Any assumptions made should be codified (to the extent possible)
    - This likely involves adding lots of assert/debug_assert statements to check for null and such
 * All FFI code should be tested using [ctest](https://github.com/rust-lang-nursery/libc/tree/master/libc-test) or something similar
 * The latest advise from the [R

[2015-12-06 14:52] mrmonday opened #143 "Support fixed-size arrays"
Currently you cannot define a packet with a `[T; N]`, this should be supported.

[2015-12-06 20:42] cortesi commented on #81
Not for the moment, I'm afraid. I decided to punt on the side-project I was
doing in Rust until the ecosystem had matured a bit more.

On Mon, 7 Dec 2015 at 01:08 Robert Clipsham <notifications@github.com>
wrote:

--
--
aldo@corte.si
http://corte.si
@cortesi

[2015-12-06 20:45] mrmonday commented on #81
OK - no worries! Thanks for letting me know.

Out of curiosity, do you mind if I ask what your planned side-project was?

I'm particularly interested if it involved libpnet, since I'm trying to build up a picture of what needs to happen before it can hit 1.0 right now, so any input would be extremely useful :)

[2015-12-06 21:04] cortesi commented on #81
My side-projects are mostly in the realm of security. I have some ideas
lying around for a port scanner, which I thought might be well suited to
Rust. I would also like to do a partial implementation of a TCP stack for a
separate privacy-related project.

I like libpnet, but I found the build process clumsy - in particular, the
permissions issues that prevented an easy out-of-the-box build (this m

[2015-12-06 21:20] mrmonday commented on #81
Port scanning is something I'd love to be super easy with libpnet! There are two use cases I'm looking at specifically in the coming weeks (See issues #139 and #140) which which should streamline usage for them (order of magnitude less code), I don't know if they'll help with port scanning though.

The build process for libpnet is definitely awkward - I don't know a way around that unfortunately.

[2015-12-08 23:26] cortesi commented on #81
It's great to know that libpnet has such strong support behind it. I do intend to return to this in the new year, and will be in touch then.

Regarding the build process - I think the best approach might be to split those parts of the project that require access to system resources from those that don't. It should definitely be possible to build/test the packet parsing and generation stuff, for in

[2015-12-09 09:35] mrmonday commented on #81
So, with regards to what you've said, here's the status of things:

 * Everything in pnet_macros will work without any particular permissions
 * Everything in pnet::packet will work without any permissions
 * Everything in pnet::{datalink, transport} currently require some special setup.

Currently the simplest thing to do if you want to run all the tests is to do it as root. There's a few reasons

[2015-12-11 21:41] mrmonday commented on #137
The first step towards this is done - as of 0.6.1, libpnet no longer requires any features other than plugins.

The next step is to switch over to syntex, so libpnet_macros can work with the beta release.

The final step will be waiting for the release of Rust 1.6.0, at which point libpnet should work on stable Rust.

[2015-12-14 14:15] mrmonday opened #148 "Add npcap backend"
There should be an [npcap](https://github.com/nmap/npcap) backend so that loopback traffic can be captured on Windows.

[2015-12-21 12:50] david415 commented on #91
@little-dude has fixed some of the bugs in the modular checksum approach in his branch:
https://github.com/libpnet/libpnet/pull/146

here's my work in progress
https://github.com/libpnet/libpnet/pull/150

[2015-12-29 22:22] mrmonday commented on #134
I believe pull #153 should fix the panics occurring here. Just leaving a reminder to check.

[2016-01-21 22:15] #137 closed

[2016-01-24 18:10] mrmonday commented on #132
This was fixed in pull #147.

[2016-01-24 18:10] #132 closed

[2016-02-12 22:43] faern opened #164 "Setting IPv4 flags affect fragment offset on OSX"
I have noticed that calling `pnet::packet::ipv4::MutableIpv4Packet::set_flags` does not affect the flag in the header, but rather the fragment offset on OSX 10.11. These headers are adjacent and I suspect that some bit manipulation is slightly off here.
I have not inspected this in more detail. Any more info I can provide?

[2016-02-12 23:03] mrmonday commented on #164
Could you tell me a little more about how you're experiencing this? Do you have a test case I could try? I can't reproduce this locally - everything seems to work as expected for me.

[2016-02-13 09:01] faern commented on #164
Sure, of course. I was quite tired yesterday, so I didn't have the energy to explain better, sorry for that.

Now I have a small program that will send two packets on layer 3 and I inspect their content on the wire with wireshark. On the first packet I never call `set_flags` and when I observe the packet in wireshark I see that the three flag bits are zero and fragment offset is also zero. On the

[2016-02-13 12:35] mrmonday commented on #164
Thanks for the test case.

I'm not near an OS X machine right now, I'll try and take a look later today when I have access to one. When working at the transport layer, OSes have a nasty habit of modifying your packets before sending them, or switching endianness of certain fields (or, even, just pretending your packets never existed and not giving any kind of errors...) - it's possible there's a m

[2016-02-13 14:07] faern commented on #164
I have now inserted some debugging `println!` in `pnet::internal::send_to` just before the call to `libc::sendto`

I extract the flags and offset fields with this code:
[code]
The output for the first packet (with `set_flags` not called):

    internal::sendto: flags: 0. offset: 0

Byte 7 & 8 in wireshark:

    00 00

The output for the second packet (with `set_flags` called):

    internal::sendt

[2016-02-13 15:24] mrmonday commented on #164
I'm going to summarise some of what's been said on IRC for posterity:

There are two main useful bits of documentation for raw sockets on OS X (that come to mind - I remember there being others, but I can't think of them specifically):
 * `man 4 ip`, under Raw IP Sockets - https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man4/ip.4.html
 * This shiny web page: http://

[2016-02-13 20:35] mrmonday commented on #164
Fixed in pull #165

[2016-02-13 20:35] #164 closed

[2016-02-14 18:06] pastoraleman opened #166 "Example 'packetdump.rs' panicked at 'called `Option::unwrap()` on a `None` value', ../src/libcore/option.rs"
Using rust-1.6.0 on OS X 10.10.5, I tried the example packetdump.rs, which panicked with:

[code]

[2016-02-14 19:48] mrmonday commented on #166
Hi @pastoraleman - the examples don't make any attempt to do any error handling - which is what you're seeing. The packetdump example expects a parameter specifying which network interface to listen on. You should be able to get a list of interface names on OS X using the `ifconfig` command - if you pass one of them to `cargo run`, it should work. Let me know if that helps.

[2016-02-14 21:56] pastoraleman commented on #166
Thank you @mrmonday - I have supplied the interface and also run it with sudo, and it is working now.

[2016-02-14 21:56] #166 closed

[2016-02-15 20:27] mrmonday commented on #166
Glad I could help!

[2016-03-02 18:53] faern opened #168 "Stop sending entire backing buffer as ethernet frame"
The library sends too many bytes in the ethernet frames.

When using `EthernetDataLinkSender::build_and_send` with `packet_size` set to 100 and you construct a 20 byte packet in the callback (14 bytes header + 6 bytes in the payload) then libpnet actually transmit all 100 bytes to the network when you would expect it to send only 20.

If the library would reuse the same buffer in a consecutive cal

[2016-03-02 19:18] faern opened #169 "No way to find size of ethernet packet that includes the payload"
I can only extract the header size or the size of the backing buffer from an ethernet packet, not the size of the header + payload, nor the payload alone. Here is an example:

[code]

* `MutableEthernetPacket::packet_size(_packet: &Ethernet) -> usize` states in the doc that it should give the number of bytes this packet will occupy when converted to a byte array, but it returns the size of the bac

[2016-03-05 00:19] david415 commented on #134
hi! Sorry I've been away for so long. Does this mean the checksum branch is fixed? Or does it need to be rewritten to work with the latest code?

I need a TCP encoding/decoding API and it will be easy to write TCP stream analysis tools. I wanted to make checksums modular before solving for TCP.

[2016-03-05 00:30] mrmonday commented on #134
I've been really busy for the past couple of months too!

There are 4 pull requests for checksums open between yourself and @little-dude, I don't know what the statuses of them are, or which one has the latest code. It looks like it might have been #150?

I'd love to get the generic checksum support reviewed and merged in - it's the longest standing pull request (ever!) for libpnet, and it's reall

[2016-03-13 22:41] phoracek opened #172 "Support 802.1Q tags"
VLAN tags handling is usually done on switches level and not needed on end-points. This is not true for virtual networking hypervisors which could be connected via trunk in order to divide multiple VM networks.

`EthernetPacket` should have one more method `fn get_tag(&self) -> Option(VlanTag)`

What has to be done to implement this? I guess it is possible even now, match 0x8100 EtherType and then

[2016-03-14 18:11] mrmonday commented on #172
Hi there!

Sorry I missed you on IRC earlier. There are quite a few ways this could be implemented - I don't know which is the nicest. Perhaps something like:

[code]

Would work?

Then you can match on the ethertype of the original Ethernet packet, use `VlanPacket` as the payload, then match on the ethertype of the Vlan packet for the rest of the packet.

I'd be happy to mentor you if you're inte

[2016-03-15 21:02] phoracek commented on #172
Yea, that looks good, thanks! However, it adds quite a bit overhead (or at least I'm not able to think about an elegant handling).

I'd like to have something like this:
[code]
I don't know if it is possible to implement it. Can we somehow decide whether to use one or another structure based on some further handling (check EtherType and decide).

I'd like to implement this functionality (802.1Q Pa

[2016-03-15 21:22] mrmonday commented on #172
Unfortunately there's no clean/easy way to match on packets with libpnet yet - it's something I'm hoping to have support for by version 1.0 (this is part of issue #139). The packet dump example in the examples directory shows how you have to write this currently.

In terms of a more terse way of writing it, I doubt it will be possible to use `match`, but it may be possible to write a macro which p

[2016-04-02 11:41] 2m commented on #90
I have rebased @david415 work in progress branch on to the latest master, for everyone wanting to try it out: https://github.com/2m/libpnet/tree/90.add-tcp-packet.1

[2016-04-06 11:50] david415 commented on #90
sweet!

[2016-05-01 15:05] mrmonday commented on #1
Closed by #184

[2016-05-01 15:05] #1 closed

[2016-05-07 21:58] david415 commented on #91
here's my latest dev branch based off of a recent commit on upstream master:
https://github.com/david415/libpnet/tree/91.add-modular-checksum.3

i might have missed some bits of code from out previous dev branches... not sure yet because i've been unable to get it to compile so i haven't yet started to work on the tests.

{{{
/home/human/code/libpnet/target/release/build/pnet-b590d00bedd3d3df/out/

[2016-05-07 22:12] mrmonday commented on #91
[I edited your comment to fix the formatting, I hope you don't mind]

It looks like you've lost a lot of changes - the slice patterns stuff was removed in e9573fa2, back at the start of December.

[2016-05-08 10:08] david415 commented on #91
ok i got rid of the slice syntax and made a few more commits.
it now builds but has these compiler warnings:

[code]

how the tests do not build or execute:
[code]

[2016-05-08 16:12] david415 commented on #91
I also worked on @little-dude 's dev branch:
https://github.com/little-dude/libpnet/tree/cksum2
based on that branch i made this one:
https://github.com/david415/libpnet/tree/91.cksum2.0

I then merged upstream master into the branch and manually resolved the merge conflicts. After making minor adjustments I've been unable to get it to build. I get these compiler messages:

[code]

[2016-05-09 10:03] david415 commented on #91
aha i think i found a more recent dev branch that is closer to working. anyhow i merged upstream master into it and began fixing some of the compiler errors/warnings. here it is:

https://github.com/david415/libpnet/tree/146.add-modular-checksum.4

[2016-05-12 21:55] NSil commented on #122
I think that https://github.com/libpnet/libpnet/pull/175 fixes the `layer2` issue for windows.

[2016-05-14 08:31] mrmonday commented on #122
I've just set AppVeyor to rerun the tests - https://ci.appveyor.com/project/mrmonday/libpnet/build/1.0.244 for pull #149. We'll see if they pass.

[2016-05-28 20:26] rbtcollins opened #190 "Document overheads and guarantees?"
I was looking to do packet manipulation on top of netmap_sys (specifically looking for 10+Gbps line-rate capabilities, so DPDK and netmap and PF_RING_ZC are the only options AIUI), and pnet looks like an interesting possiblity, but it seems - at brief inspection - to introduce a number of inefficiencies on top of the basic batch operation. I'm sure I'm not getting all the subtleties of rust though

[2016-05-28 20:29] rbtcollins opened #191 "netmap support doesn't include windows"
netmap now supports windows, but the cfg macros in datalink/netmap only look for Linux and FreeBSD.

[2016-05-28 21:03] mrmonday commented on #190
Hi there,

When using the netmap backend libpnet has no problem saturating a 10Gbit link (in fact, in previous benchmarks I've run it outperforms the equivalent C code on the same hardware - that's likely just down to different sets of compiler optimisations though).

May I ask what inefficiencies you can see? Perhaps I could address them if you are more specific. Receiving definitely isn't optima

[2016-05-28 21:03] mrmonday commented on #191
Unfortunately I don't have access to a Windows machine to test on - pull requests are welcome though if you can get it working :)

[2016-05-28 21:21] rbtcollins commented on #190
I haven't got any benchmarks or anything as yet, the main thing was that the docs didn't give me any clue about pnet's performance guarantees/overheads - leaving me to make (apparently poor) conclusions from quick reading of code :/.  As a for-instance, the send iterator that takes a callback and supplies a mutable buffer - that appears to require a copy.

[2016-05-28 21:33] mrmonday commented on #190
The documentation should be improved, yes.

The callback takes a `MutableEthernetPacket`, which is just a `&mut [u8]`, that is, a mutable slice - which is represented as a pointer and length pair (https://doc.rust-lang.org/1.9.0/std/raw/struct.Slice.html). This allows the callback to write directly into netmap's buffers without any copying. In the applications I've written, I've found that the cal

[2016-05-28 21:36] rbtcollins commented on #190
More details:
The example here - https://octarineparrot.com/assets/libpnet/doc/pnet/index.html#ethernet-echo-server

says it builds the packet in the write buffer with no copy, but clone_from does a copy:https://github.com/libpnet/libpnet/blob/a5f9c50011321e625179ecee926cda037aa0bc57/src/packet/mod.rs#L31, and since the receive iterator returns EthernetPacket, not MutableEthernetPacket, it seems t

[2016-05-28 21:42] mrmonday opened #192 "Add support for netmap's zero-copy packet forwarding"
There should be an API to support netmap's ability to do zero-copy packet forwarding between interfaces.

[2016-05-28 21:47] mrmonday commented on #190
That specific example does do a copy, yes.

The packet is copied directly from one netmap buffer to another. There's no support for netmap's zero-copy packet forwarding currently, I've opened #192 to track that (pull requests welcome! :smiley:).

Are you looking to do software switching with libpnet? I'd be happy to help design and implement the API for this if it's something you're interested in

[2016-05-28 22:05] rbtcollins commented on #192
Could you provide some sketch about how it would look? Whilst my project is a personal-itch-scratch, I'd like to see if I can pull this API extension together. My specific use case that I'm aiming to support is something like (pseudo code).

[code]

Clearly this /can/ be done with copies - but the memory bandwidth will be much higher :)

[2016-05-28 22:06] rbtcollins commented on #190
Yes, its a form of switching I'm poking around at - based on / inspired by Google's maglev paper. I've given more details in #192; lets leave this ticket focused on the docs?

[2016-05-28 22:26] mrmonday commented on #192
It's been a long time since I thought about this, so I'll get back to you once I've collected my thoughts on the matter again. Don't hesitate to ping me if you've got ideas or I'm taking too long to respond :)

[2016-05-29 00:05] polachok commented on #192
I wrapped `netmap-sys` directly for my project and provided an API that lets you do that.
I wouldn't say it's well designed but you may find it interesting.
Here: https://gist.github.com/polachok/5238b877e6d5b5f367c74e89576e5a57

[2016-05-31 01:52] rbtcollins commented on #192
@polachok that does look interesting, much closer to the idioms I expected for dealing with netmap :). What license is that code under?

[2016-05-31 05:54] polachok commented on #192
@rbtcollins MIT

[2016-05-31 06:28] rbtcollins commented on #192
Cool. Would you mind if I tossed a version into a crate - so I don't copy-and-paste into my own tree?

[2016-05-31 07:52] polachok commented on #192
I just put it in a repo: https://github.com/polachok/netmap-rs. Feel free to make a PR :)

[2016-05-31 09:53] rbtcollins commented on #192
Thanks; trivial one thrown up :)

[2016-05-31 17:24] mrmonday commented on #192
Having thought about this, it's more complicated than I'd initially thought to add support for this to libpnet.

The main issue is that libpnet currently models each backend as two components: a sender, and a receiver. In order to support forwarding, those two concepts become conflated, since sending becomes dependent on receiving, and the abstraction libpnet currently offers doesn't really make a

[2016-06-02 17:08] moosingin3space commented on #172
Why is this issue still open?

[2016-06-02 17:23] #172 closed

[2016-06-11 06:05] BenKnigge opened #196 "can't run packetdump example with rust version 1.9 Linux"
Running `target/debug/examples/packetdump`
thread '<main>' panicked at 'called `Option::unwrap()` on a `None` value', ../src/libcore/option.rs:326
note: Run with `RUST_BACKTRACE=1` for a backtrace.
error: Process didn't exit successfully: `target/debug/examples/packetdump` (exit code: 101)

[2016-06-11 09:48] mrmonday commented on #196
There are two things you need for the packetdump example to work:
 * The example needs to be run as root (or you can set the relevant permissions on the binary - I won't get into this now)
 * You need to pass the name of the interface to use.

Perhaps the example should use `expect()` rather than unwrap - [you're not the first person to have had an issue with this](https://github.com/libpnet/libpn

[2016-06-11 09:48] #196 closed

[2016-06-13 23:30] rbtcollins opened #198 "please add direct pnet_macro support for optional fields in protocols"
For instance, in GRE headers, having either of the checksum or source routing bits set will cause both the checksum and offset fields to be present (both of which are fixed size when present). Right now they get implemented using a Vec of narrower packet definitions, but this is a little awkward: there's no payload to even consider within that, and a dedicated type has to be added just to enable i

[2016-06-14 02:25] rbtcollins opened #199 "Field level documentation inside #[packet] errors"
[code]
   Compiling pnet v0.10.0 (file:///home/robertc/personal/rust/libpnet)
error: failed to run custom build command for `pnet v0.10.0 (file:///home/robertc/personal/rust/libpnet)`
Process didn't exit successfully: `/home/robertc/personal/rust/libpnet/target/debug/build/pnet-91d70124e1d583bc/build-script-build` (exit code: 101)
--- stderr
src/packet/gre.rs.in:42:5: 42:25 error: unknown attribut

[2016-06-14 17:59] mrmonday commented on #199
The simple fix for this is to modify `remove_attribute_struct` in `pnet_macros/src/lib.rs` to remove the doc attribute. The correct fix is probably to consume the doc attribute and include it in the documentation -that's a little more involved though.

I'd be happy to mentor this if you're interested in working on it.

[2016-06-14 21:24] rbtcollins commented on #199
I'm not planning on hacking on this at this point; I went to document a field in the normal fashion for rust and had the unexpected error - I figured you'd want to know the issue exists :).

[2016-06-15 20:10] BenKnigge opened #200 "'arithmetic operation overflowed' when not calling set_header_length"
The following code sample will panic with an 'arithmetic operation overflowed' error if set_header_length is not called or if the value is set to 16 or greater

    let mut bytes = [0u8; 100];
    let mut ethernet : MutableEthernetPacket = ethernet::MutableEthernetPacket::new(&mut bytes).unwrap();
    ethernet.set_source(mac);
    ethernet.set_destination(mac);

    {
        let mut ipv4 = pnet::

[2016-07-04 09:56] chtotut opened #201 "Can not compile plugin example"
I try to compile [plugin example](https://octarineparrot.com/assets/libpnet/doc/pnet_macros/index.html)
and get this error:

[code]

[code]

[2016-07-04 20:07] mrmonday commented on #201
Hi,

If you want to use the plugin, you need to use a nightly version of the rust compiler, and use `--no-default-features --features nightly` when running `cargo build`. The plugin will not work with stable Rust, or the default cargo setup.

[2016-07-05 12:07] chtotut commented on #201
Thx for answer.
In Cargo.toml:

[code]
right?
But it output another error:

[code]

Can you show sample Cargo.toml for compele example?

[2016-07-05 21:26] mrmonday commented on #201
That is correct - the plugin does not work on the latest nightly, I am working on resolving this.

To ensure a stable experience, you should not use the plugin, and use syntex. This will happen automatically if you follow the instructions in the README, and will work on stable, beta, and nightly versions of Rust.

[2016-07-06 12:50] 0x0G opened #202 "EthernetDataLinkChannelIterator method next() panic: 'called `Option::unwrap()`"
I do not know how to reproduce the error exactly, but from time to time, this error occurs:

[code]

This is packet_helper\src\main.rs:112 line:

[code]

This is full code:

[code]

OS: Windows 10
rustc 1.11.0-nightly (1ab87b65a 2016-07-02)

[2016-07-07 19:11] mrmonday commented on #202
It looks like `winpcap::PacketReceivePacket()` is returning success when there are no packets to receive - I don't know why that would happen. I don't have access to a Windows machine right now to try and reproduce this, I'll bare it in mind for next time I'm near one. Thanks for the bug report.

[2016-07-25 17:09] polachok opened #209 "Overflow when generating packet"
[code]

or run `cargo test` on this repo: https://github.com/polachok/pnet-test

[2016-08-23 23:49] zofrex opened #213 "libpnet is letting me iterate over ICMP packets as if they were IPv4 packets"
Not the greatest bug title of all time, as I'm not _really_ sure what the issue is, but I was encouraged on IRC to post it.

I wrote some code that looked a bit like this:

[code]

To run, note that you need to run this as root, and generate incoming ICMP packets somehow. Here's the output when I run `ping localhost` at the same time:

[code]

Obviously this is not correct! On IRC my error was poi

[2016-09-04 15:02] mrmonday commented on #213
Thanks for the report - would you mind opening another issue for the second issue? Thanks!

[2016-09-17 23:48] mbudde opened #218 "pselect EINVAL when compiling in release mode"
I have an application that sets up a channel with a `read_timeout`:
[code]
When compiling my application in debug mode everything works and `strace` shows `pselect` calls with the expected timeout:
[code]
But when compiling the same application in release mode, some receive calls fail with an EINVAL error and from the `strace` output it looks like the timeout argument is filled with garbage data:

[2016-09-18 09:08] #218 closed

[2016-10-04 13:36] polachok opened #221 "Out of bounds check and reliability"
It's super easy to crash libpnet with invalid packets:

[code]

Result:
[code]

Obviously in my real code I don't create bad packet on purpose but receive it from the network.
So, do you think it makes sense to add checks to libpnet or is it supposed to be handled by application developer?

[2016-10-06 17:27] mrmonday commented on #221
Part of #141 (I believe there are a couple of other issues which fall into this category too) - Ideally I want libpnet to never panic when parsing a packet. Invalid packets are fine (that's up to the application developer), but none of the generated accessors or mutators should panic.

[2016-10-06 18:36] polachok commented on #221
Understood, I'll send a PR for this later

[2016-10-06 18:54] mrmonday commented on #221
What a :star2:, thank you!

[2016-10-16 11:37] faern opened #227 "Remove duplicate icmp constants when 0.14.0 is released"
Pr #226 duplicated some icmp modules containing constants. This was just to deprecate them during one release instead of delete them instantly. Just remove `icmp_types` and all modules named `icmp_codes` as soon as pnet 0.14.0 is released.

[2016-10-24 14:17] stephanbuys opened #229 "Support tokio-rs?"
Hi, not knowing much about libpnet I just wanted to ask what kind of event loop drives the underlying interface reader? Guessing its single threaded, etc. It would be awesome to be able to read/create packets with non-blocking io, not sure if this would be the right project?

I've wanted to write a netflow/ipfix listener for a while now, not sure if libpnet is the right place to do so, or if it be

[2016-10-25 16:12] mrmonday commented on #229
The API is not really designed for non-blocking IO - I have not really thought about how that would look or work. I wouldn't necessarily be against adding support for it if there is a convincing argument for it.

How it works "under the hood" depends on the backend you're using - you can see the implementations in `src/datalink/*.rs` (one file per backend - BPF is OS X and FreeBSD, the others are

[2016-11-05 11:59] tytouf commented on #133
As there been any progress/update on that issue?

[2016-11-05 15:43] mrmonday commented on #133
None that I'm aware of.

As I mentioned earlier in the thread - there's not too much effort involved in getting this working, it just needs someone to do it. I'm happy to mentor this if you're interested.

[2016-12-07 22:04] Yamakaky opened #234 "Tun/tap support"
You could add support for OS network features, like linux tun/tap. No sure you want to implement it in libpnet or if it should be in another library.

[2016-12-07 22:12] Yamakaky commented on #234
In fact, it could apply to all the network administration features, like the `ip` command.

[2016-12-09 18:50] mrmonday commented on #234
This is definitely something libpnet would like to support, it would be really useful, particularly for testing.

If you'd like to have a go at implementing this, I'd be happy to help mentor you :)

[2016-12-09 20:13] Yamakaky commented on #234
I'm working on https://github.com/Yamakaky/tun-rs and https://github.com/Yamakaky/rvpn. Maybe we should merge run-ts into pnet?

[2016-12-09 20:15] mrmonday commented on #234
It looks like `tun-rs` would be useful independently of `libpnet` - it might be better to have `libpnet` have `tun-rs` as an optional dependency, then when compiled with a `tun-rs` feature, have the functionality enabled.

[2016-12-09 20:54] Yamakaky commented on #234
Why not.
BTW, we plan to have first-class support for Tokio.

[2016-12-13 01:33] Yamakaky commented on #234
I'm making progress, I'm able to read and decode ipv4 and ipv6 frames from the tun device. A few things:
- The TUN packets uses a special encoding, see 3.2 from https://www.kernel.org/doc/Documentation/networking/tuntap.txt. `Proto` if [`EtherType`](https://en.wikipedia.org/wiki/EtherType#Examples) in big endian. Maybe you could add a module in pnet to decode these frames?
- Why [IpNextHeaderProto

[2016-12-13 07:43] mrmonday commented on #234
Constants in libpnet are not enums, since the constants they model are not enums. It should be possible to put arbitrary values in packets, and this would not be possible with an enum, unless lots of `Reserved1`, `Reserved2` kind of fields were added - and this simply isn't an option. Instead libpnet uses typedef'd values, and constants. This allows arbitrary values to be used, while keeping the t

[2016-12-13 10:55] polachok commented on #234
I'm not sure if such implementation-specific details like `tun_pi` belong to core libpnet library. You can implement it in tun-rs instead (see my `pnetlink` repo for an example). Or just disable (see: https://github.com/polachok/tuntap/blob/master/src/lib.rs#L201), if you don't need it.

[2016-12-13 13:18] Yamakaky commented on #234
Yeah, didn't think about adding new values.

[2016-12-13 13:19] Yamakaky opened #235 "Parse complete frame"
For now, we have only things like "bytes -> Ethernet", where the payload is not decoded. It would be cool to be able to decode an Ethernet frame and automatically have the ip and tcp layers decoded.

[2016-12-13 15:15] mrmonday commented on #235
I believe this falls under the umbrella of #139.

It's worth talking to @faern about this, since he's working on a TCP/IP stack and likely has a good insight about the nicest way to do this.

[2016-12-13 15:20] Yamakaky commented on #235
I think the ethernet packet could have a field with type `Result<Parsed, Raw>` for example. That way, you can always parse yourself if the auto-parse fails.

[2016-12-13 15:39] mrmonday commented on #235
That doesn't really work with libpnet's model - it doesn't actually do any parsing, it just does some bit twiddling, regardless of what's there.

It would also require adding domain-specific knowledge to libpnet, which I'm not sure is appropriate. I would favour introducing an abstraction which enables definitions of relationships between packets instead, but I haven't put much thought into how th

[2016-12-13 15:47] faern commented on #235
I think this feature is out of scope for pnet. I much rather keep the packet part of pnet as simple as it is, it should not have domain knowledge of what the fields in the packets actually mean. Keep all actual parsing and decisions on what to do with the payload up to the user of pnet.

You can implement this quite easily yourself my just matching on the `ethertype` etc.

If you really want this

[2016-12-13 15:51] Yamakaky commented on #235
Ok, thanks.

[2016-12-13 15:51] #235 closed

[2017-01-02 14:02] tfukushima opened #238 "pnet_macros can't be compiled w/ Rust 1.14.0 and Cargo 0.15.0-nightly"
Hi libpnet devs,

Happy New Year. 🎉 🎍  In my hobby project during holidays, I tried to use libpnet as follow.

[code]

Then I ran `cargo build` and I got the following compile errors for pnet_macros. I'm not 100% sure but it looks like the APIs of regex changed and it caused the compile errors? I tried building my project on MacOSX 10.11.6 and Linux (Amazon Linux; 4.4.16-27.56.amzn1.x86_64 ), and

[2017-01-02 19:51] BurntSushi commented on #238
The problem is that the [`pnet_macros` crate has a liberal dependency on `regex`](https://github.com/libpnet/libpnet/blob/2875d923b034ed28e54165fd65d3072f59c7c3f0/pnet_macros/Cargo.toml#L40). The fix is to either update `pnet_macros` to use `0.1` instead of `>=0.1`, or to upgrade to using `0.2` proper.

[2017-01-02 22:25] mrmonday commented on #238
Thanks for the detailed report.

I've fixed the dependency (so hopefully this doesn't happen in future), and also upgraded the version of the regex crate we depend on.

Hopefully I'll get a new release of pnet_macros out tonight - we'll see how long CI takes.

[2017-01-02 22:48] #238 closed

[2017-01-02 22:53] mrmonday commented on #238
This should hopefully be fixed now, I've published a new version of pnet_macros - https://crates.io/crates/pnet_macros/0.12.0

[2017-01-03 03:39] tfukushima commented on #238
@mrmonday @BurntSushi Thanks for the quick fix. I could build libpnet with `cargo update`.

BTW, as you must know, libpnet 0.14.0 can't be built with Rust >=0.12.0. So I specified the commit that you made and I could build my project.

[code]

Have nice holidays!

[2017-01-03 13:09] mrmonday commented on #238
Are you using nightly?

libpnet compiles and passes tests for OS X, Linux, and Windows using Rust versions:

 * 1.11.0
 * 1.14.0
 * 1.15.0-beta.2

See:
 * https://travis-ci.org/libpnet/libpnet
 * https://ci.appveyor.com/project/mrmonday/libpnet

I've just published v0.15.0 of libpnet - https://crates.io/crates/pnet/0.15.0 - with any luck that fixes it.

[2017-01-03 15:40] tfukushima commented on #238
@mrmonday Oh, I wrote "libpnet can't be built" but that's not true. What I meant was that it could be compiled by itself but when I added `libpnet = "0.14.0"` in the dependencies of `Cargo.toml` I got a bunch of compile errors.

Thanks for publishing the new version and now I don't have to specify the rev number in the dependences. I'm using stable and my project is now perfectly compiled. 👍

[2017-01-03 15:59] BurntSushi commented on #238
@tfukushima Note that you should definitely be specifying rev numbers. A `*` dependency is generally frowned upon (and crates.io will disallow it) because it will automatically bring in semver incompatible releases.

[2017-01-07 17:47] polachok opened #241 "How to run tests in pnet_macros?"
I got some time to write tests for https://github.com/libpnet/libpnet/pull/208.
First attempt:

[code]

And without syntex I get:

[code]

I'm on nighly.

[2017-01-07 19:08] polachok opened #242 "enum `PacketData` is private"
I was under impression that it should be possible to define packets in my own crate using pnet_macros. And it worked with 0.11 (I think).

Here's a test project: https://github.com/polachok/libpnet-custom-packet

[code]

[2017-01-07 19:19] mrmonday commented on #241
Unless `compiletest_rs` has been updated to work with syntex, you need a nightly version of Rust to run the tests.

The version of the Rust nightly needs to match the version of syntex that we're using. libpnet currently uses syntex `0.42.*`, which was released on August 19/20, 2016. That means you need a version of nightly from last August to run the tests.

Alternatively, if libpnet is updated t

[2017-01-07 19:21] mrmonday commented on #242
Yes, it should be possible.

That `enum` should be made public.

[2017-01-07 20:46] polachok commented on #241
Thanks for the explanation, I see now.

Would [macros 1.1](https://github.com/rust-lang/rfcs/blob/master/text/1681-macros-1.1.md) help? It seems like they are on the fast track to stabilization.

[2017-01-07 20:58] mrmonday commented on #241
I haven't had time to read the full RFC, it looks like they'd probably work for what we currently have though, yes.

I don't know how much work it would be to convert the existing pnet_macros across.

[2017-01-23 08:12] stephanbuys opened #243 "Type of Service (DSCP and ECN)"
Hi, there are some handy conversion charts for the IPv4 DSCP and ECN headers, would something like it be welcome in libpnet_macros? I'm thinking that the values could be expressed as an Enum or implemented as something like `header.get_dscp_expanded()` ?

Please see http://bogpeople.com/networking/dscp.shtml

[2017-01-25 18:59] mrmonday commented on #243
Hi, thanks for your interest!

Adding proper enumerations for DSCP and ECN is definitely something we would like in libpnet - I'm willing to help mentor if this is something you're interested in adding. I would imagine it being implemented in a similar way to the `IpNextHeaderProtocol` structure.

[2017-01-26 18:23] mrmonday commented on #92
Done in #244, I believe.

[2017-01-26 18:23] #92 closed

[2017-01-27 16:10] stephanbuys commented on #243
@mrmonday yeah, would be happy to try - a little swamped at the moment, but will ping back as soon as I have bandwidth again.

[2017-01-30 00:32] kamalmarhubi opened #245 "Filtering packets that are read from the interface?"
I'm attempting to write something on Linux that sniffs UDP packets headed to a particular port, and duplicates them to another. I'm comparing pnet and pcap. I'd like to stay pure Rust if possible, but don't feel up to manually writing BPF to do what I want and using `setsockopt`. Am I missing something in pnet?

[2017-01-30 19:36] mrmonday commented on #245
There's no BPF support in libpnet, nor is any planned. You can filter using pure Rust, using the getters/setters for the different packet types.

If you take a look in the `examples/` directory, there are two samples which may be of use, and there's another in the documentation. If you need any specific guidance I'd be happy to help!

[2017-01-30 20:20] kamalmarhubi commented on #245
Oh, I didn't fully understand the goals I guess. Filtering in pure rust results in _many_ packets being copied to userspace just to be ignored, I think? BPF allows aggressively prefiltering what needs to be processed in userspace.

[2017-01-30 20:38] mrmonday commented on #245
If the performance matters, you're better off not using the Linux network stack, and instead using netmap (libpnet supports this) or DPDK - this way you still write pure Rust, and there's no unnecessary copying.

[2017-02-02 21:31] moosingin3space opened #246 "Consider splitting packet parsers into a separate crate"
For instance, the way `serde` does it (`serde` for core functionality, `serde_json` for serializing JSON data, etc) might not be a bad idea. A brief design:

- `pnet` and `pnet_macros` stay mostly the way they are, except with the `backend` module removed and replaced with a `Backend` trait or similar.
- `pnet_linux`, `pnet_netmap`, `pnet_bpf`, `pnet_pcap`, and `pnet_windows` crates provide backen

[2017-02-03 03:19] moosingin3space commented on #246
If backends are split, it becomes easier for a developer to choose a specific backend or use multiple backends in the same application. Cargo features seem a little clunky for this -- what if I want to use `pnet` to write a `tcpreplay` replacement? With separated backends, once could write code like:

[code]

where multiple backends are used in tandem.

Separating out the packet handlers would als

[2017-02-03 08:32] mrmonday commented on #246
This is no easier than the current situation:
[code]
I don't buy the features being clunky argument, it's the difference between:
[code]
and
[code]
In the latter case there are two versions to keep in sync, rather than one.

[2017-02-04 18:58] moosingin3space commented on #246
I was unaware that multiple backends were usable in pnet as it exists, my apologies. That resolves my concerns. You can close this issue now.

I still think it's a good idea to look at modularizing the packet parsers.

[2017-03-05 15:19] faern commented on #227
These duplicate constants have been removed.

[2017-03-05 15:19] #227 closed

[2017-03-06 21:15] moosingin3space commented on #229
As someone who has contributed, I think non-blocking I/O would be very cool, but also very difficult to fit into libpnet today. Maybe it would be a better idea to make another project that can act as a proving ground for async I/O in this scenario.

That effort might be helped by separating the packet types into their own crate.

[2017-03-13 20:21] moosingin3space commented on #246
I'm thinking a `pnet_packet` crate that simply contains the packet types and is depended upon by `pnet`. This way, we can share low-level networking parsing infrastructure between multiple projects.

[2017-04-02 17:45] zbanks opened #256 "Should `#[packet] struct` members be public?"
Is there a reason that the #[packet] structs (e.g. ``Ethernet``) are public, but none of the fields are public?

I might be misunderstanding the intended encapsulation, but it seems that the structs should either be completely private, or the members should be public. Currently, I think they can only be used as an opaque copyable packet blob -- which ``[u8]`` also does.

Example commit making them

[2017-04-10 18:15] mrmonday commented on #256
Sorry for the slow response, this got lost in my inbox.

I honestly thought they were public. I can't think of any reason for them not to be.

@faern, can you think of any reason these aren't public?

If not, we'd happily accept a pull request, particularly since you've already done the work!

[2017-04-11 07:02] faern commented on #256
I thought you were supposed to only use the generated `*Packet` version of each struct, accessing the members with their generated getters and setters? That has been my thought all the time. Since the getters and setters will correctly translate endianness and do other magic they should be used in contrast to trying to modify fields manually.

[2017-04-11 07:03] faern commented on #256
If my above argument is correct, then we should make those struct private instead. Maybe this was a workaround. If the struct is private maybe the generated struct is private? And we need the generated struct to be public, so maybe this was the fix?

[2017-04-12 00:55] zbanks commented on #256
@faern it seems like the `from_packet` methods call the getters, so the endianess &c is handled.

If the entire struct is made private, what's the point of the `FromPacket` trait?

[2017-04-12 17:13] mrmonday commented on #256
I think the fields are meant to be public, for exactly the reason @zbanks brings up.

I believe the reason this hasn't come up yet, is because we don't have the opposite of `FromPacket` currently.

[2017-04-13 17:05] zbanks commented on #256
The opposite of the `from_packet` method is the `populate` method on `Mutable*Packet`s, but it's not part of a trait.

[2017-04-13 19:34] mrmonday commented on #256
So it is - I'd completely forgotten about that. Thanks for the merge request :)

[2017-04-13 19:34] #256 closed

[2017-04-13 20:46] SalmonProject opened #259 "TcpPacket numerical field getters don't have the byte order specified in documentation"
The documentation shows these getters having return types of `u32be` and `u16be`, but to check if a packet's destination port is not 443, `if tcp_pkt.get_destination() != 443` works while `tcp_pkt.get_destination().to_be() != 443` does not. (And yes, this is on a little endian machine :smile: )

[2017-04-14 17:07] mrmonday commented on #259
Hi - this works as expected.

`libpnet` is designed so that you never need to worry about endianness. All values returned from `get_` methods, and all values passed to `set_` methods are in host endian format - you write code as if endianness does not exist, and it will just work.

The types denote what format values will be on the wire. That is, `u32be` means "this field is a u32, which should be

[2017-04-17 14:53] SalmonProject commented on #259
Thanks, that explains it! That is a nice, convenient design. It would really help to have that documented. Right now, I can't find it mentioned anywhere in the documentation. When I look at https://octarineparrot.com/assets/libpnet/doc/pnet/packet/tcp/struct.TcpPacket.html, the 'be' makes me not even wonder about the byte order: it sounds like it will return network order regardless of the machine

[2017-04-17 16:06] SalmonProject opened #260 "Infinite loop in TCP options parsing"
This function:
[code]

called by `WscaleAndMSS::extract_from(tcp_pkt.get_options_iter())` gets stuck in an infinite loop (100% CPU spinning) on ~one in a few billion packets seen on the internet.

I believe this is the correct way of using pnet's TCP options parsing (if not, apologies for the spurious report!). Unfortunately, we don't have a practical way to record the packets that cause this prob

[2017-04-17 16:54] polachok commented on #260
Looks correct, i'm using almost [same code](https://github.com/LTD-Beget/syncookied/blob/master/src/packet.rs#L208) in my project.
Would be great if you provided the packet causing this problem.

[2017-04-17 19:16] SalmonProject commented on #260
We decided to leave things as they are, but with a workaround (just breaking the loop after too many iterations). With that workaround, it ought to be practical to record offending packets. Assuming we do see more of these packets, I'll try to get one, and post it here.

[2017-04-19 16:31] SalmonProject commented on #260
Can't provide a packet yet, but I can confirm that there is definitely something broken. `println!("BAD PACKET: {:?}", tcp_pkt);` panics, where `tcp_pkt` is the `tcp_pkt` from my original post, and this line is called if `catch_unwind(extract_from(tcp_pkt.get_options_iter())` returns an `Err`.

[2017-04-19 16:58] polachok commented on #260
Can you dump &[u8] for the packet?

[2017-04-19 16:59] mrmonday commented on #259
If you have the time and motivation, it would be great if you could make the modifications and open a pull request - you're probably more qualified to fill in the gaps than I am, since you experience the issue first hand.

Documentation improvements are always welcome :)

[2017-04-20 10:01] Trolldemorted commented on #256
Is there a reason that 1002b9f8c4372f00b89e9a18ca8fcdc4b45e2148 was committed to master before the bump to 0.17.0, but was excluded from the 0.17.0 release?

[2017-04-20 14:48] SalmonProject commented on #259
I'd be happy to! I'll get to it soon-ish.

[2017-04-20 16:20] SalmonProject commented on #260
Got one! This is the .payload() of the enclosing Ipv4Packet, which is what the offending TcpPacket was built from with TcpPacket::new().
BAD PACKET: [192, 8, 1, 187, 11, 135, 230, 126, 0, 0, 0, 0, 176, 2, 255, 255, 213, 46, 0, 0, 2, 4, 5, 244, 2, 3, 3, 5, 1, 1, 8, 10, 21, 181, 4, 0, 0, 0, 0, 0, 4, 2, 0, 0]

[2017-04-20 16:32] polachok commented on #260
Running
[code]

I get

[code]
Already found by #250

[2017-04-21 13:46] SalmonProject commented on #260
Oh, great! I will close this, then. Good job over there, looking forward to getting all of those fixes in a release.

[2017-04-21 13:46] #260 closed

[2017-04-23 11:29] mrmonday commented on #256
Looks like it was committed after the `0.17.0` release - I'll do a version bump and push out `0.17.1` this afternoon.

[2017-04-23 11:35] mrmonday commented on #256
Done - https://crates.io/crates/pnet/0.17.1

[2017-05-04 13:30] Trolldemorted commented on #256
should `TcpOption`'s members also be public, or get more functions?

`TcpPacket` offers a `get_options()` method, but i cannot find a way to interact (i.e. determine the type and value) with them.

[2017-05-04 14:24] polachok commented on #256
You can use get_options_iter() which returns an iterator over  TcpOptionPacket

[2017-05-27 10:03] #259 closed

[2017-05-27 11:20] mrmonday commented on #256
@Trolldemorted I believe they should be, yes.

[2017-06-20 20:46] Roba1993 opened #265 "Support libpnet without root access"
Hi all,

I run into the problem, that I need to use libpnet always with root access to work probably (get access to the devices). After a short chat with <+ladyfriday> he came up with the idea of shifting around this problem like "the way wireshark does it is to create a custom group, add your user to the group, and run an application at startup to change the permissions so that members of that gr

[2017-07-17 16:15] SlavGradev commented on #213
Hi,
is there any progress with this issue? I am using version 17.1 and getting the same panic.
Also, trying to call packet_size(&self) on Ipv4Packet seems to get exactly the same panic.
Thanks

[2017-07-17 17:46] mrmonday commented on #213
None that I'm aware of - if you would like to work on fixing this I'm willing to mentor you/point you in the right direction.

[2017-07-20 16:15] somedude232 opened #267 "IPv4 NextHeaderProtocol incorrectly parsed from u8 slice"
My pseudo-frame is not being properly parsed by the `Ipv4Packet::new()` method to properly ID the `IPNextHeaderProtocol`. The `IPNextHeaderProtocol` is indicating `0x01` for ICMP, but I know for a fact that the packets I am receiving are TCP.

Here is the raw binary frame payload: `01000101 00000000 00000000 00101100 00000001` (<-Only octet with the value 0x01) `11011010 00000000 00000000 00111000

[2017-07-20 17:22] somedude232 commented on #267
Never mind. Further testing reveals an issue with how I'm using PartialEq with enums. Your code outputs the proper values when accessors are called. Sorry for the false issue.

[2017-07-20 17:22] #267 closed

[2017-07-22 12:50] marmistrz opened #271 "Even when building on Linux the winapi crate is pulled."

[2017-07-22 14:45] #271 closed

[2017-07-22 14:46] mrmonday commented on #271
Good spot, fixed :)

[2017-07-22 15:17] marmistrz opened #274 "pnet should reexport the ipnetwork crate"
It's currently impossible to pattern match `pnet::datalink::NetworkInterface::ips` members without manually importing `ipnetwork`:

[code]

context: https://www.reddit.com/r/rust/comments/4jvxaz/reexport_dependency_pros_and_cons/

[2017-07-24 10:48] gclinch opened #276 "'Option::unwrap() on None' panic in netmap datalink module"
It seems that either nm_nextpkt returns a too-short buffer, or can return null even after having been polled (datalink/netmap.rs:255).

[code]

[2017-07-24 16:43] mrmonday commented on #276
Unfortunately I don't have a machine with netmap support any more - is there any chance you could look into this for me?

I'll take a look later and see if I can spot anything without having to actually run it.

@polachok uses/used netmap - perhaps you wouldn't mind taking a look too, @polachok?

[2017-07-25 14:03] vconstantin opened #278 "HELP"
can someone help me, how to add this libpnet? i had installed nighlty version rust. and what should i do next. where i have to place this repository. how to build this? Thanks

[2017-07-25 15:06] polachok commented on #278
What are you trying to achieve? I'd recommend reading the rust book first: https://doc.rust-lang.org/book/second-edition/

[2017-07-25 17:17] mrmonday commented on #278
If you want to include libpnet in your project, you can add it as a dependency: https://github.com/libpnet/libpnet#usage

If those instructions don't make sense, I'd advise looking through the book that @polachok shared.

If there's something more specific, I'm sure we can help further :)

[2017-07-26 02:37] vconstantin commented on #278
@polachok @mrmonday thankyou. I have 2 more questions.
1. where's the root of this repository to place packet.lib from WinPcap?
2. i got this error "linking with `gcc` failed: exit code: 1" when cargo test

im using Rust nightly 1.20 64bit on windows 10.
im new for this thing so thank you for your help

[2017-07-26 19:20] mrmonday commented on #278
I don't have a Windows machine to test with right now, but try this:

1. In your `Cargo.toml`, in the `[package]` section, make sure you have:

[code]

2. Create a `build.rs` file, in the same directory as `Cargo.toml`:
[code]
3. Create a `lib` directory in the root of your project (the same place as `Cargo.toml` and `build.rs`)
4. Download the WinPcap Developers Pack from https://www.winpcap.org/

[2017-07-29 03:04] vconstantin commented on #278
pnettest::check_test_environment
    pnettest::layer2
    pnettest::layer3_ipv4
    pnettest::layer4_ipv4
    pnettest::layer4_ipv6

still got this problem. @mrmonday

[2017-08-13 23:43] bgourlie opened #281 "Optional.unwrap() in winpcap causing crash"
https://github.com/libpnet/libpnet/blob/47f48e00282aabc005c96393930cb3408139a7f5/src/datalink/winpcap.rs#L277

I can try my hand at a fix, but I'm not sure how to handle the case where the option is Nothing.

[2017-08-14 06:15] mrmonday commented on #281
If you take a look at the preceding code, you'll notice there's an if statement to handle the case where are no packets in the buffer. Rather than attempting to handle the error case in this line, I would identify the issue with the preceding code causing the buffer to be empty, and handle the error there.

I'm happy to provide more guidance for this if you would like - I don't have a Windows box

[2017-08-14 16:54] bgourlie commented on #281
Yeah, interestingly, it successfully reads UDP packets for some time before crashing, so it's not as if its not working at all. I'll take a look at this later tonight and see if I can get a fix submitted.

[2017-08-15 16:44] gclinch commented on #276
Further investigation showed nm_nextpkt occasionally returning a very short buffer ('h.len' values lower than 10).  Disabling generic-receive-offload (gro) on the affected interface using ethtool stopped these short packets being delivered through nm_nextpkt.

Potentially EthernetDataLinkChannelIterator's next method could return an Err when EthernetPacket::new returns None, but all of the datalin

[2017-08-15 20:05] mrmonday commented on #276
I think there are a couple of things to take away from this:

 * I'd appreciate it if you could update the documentation with the command you used to disable GRO, so that others can benefit from this knowledge
 * I consider any panic to be a bug in libpnet - it should not fail when malformed packets are received. Without seeing the packets involved, I'm not sure what the correct course of action i

[2017-08-16 18:43] mrmonday commented on #278
As stated in the error message, you need to set the environment variable `RUST_TEST_THREADS=1` before running the tests.

Sorry for the slow response.

[2017-08-16 18:45] mrmonday commented on #274
Would you mind making a pull request for this, if you have time?

[2017-08-26 15:27] zofrex commented on #213
I can no longer reproduce the crash in the second example.

Of course, the contents of the produced IcmpPacket are nonsensical but that's to be expected from the primary issue described.

[2017-09-03 17:27] bgourlie commented on #281
I've now seen this error out earlier in the function as well:

https://github.com/libpnet/libpnet/blob/47f48e00282aabc005c96393930cb3408139a7f5/src/datalink/winpcap.rs#L261

The error message, which is not verbatim since I forgot to copy it, was: "The operation completed successfully" and the OS return code was 0.

[2017-09-03 17:45] mrmonday commented on #281
These might help your investigation:
 * https://github.com/patmarion/winpcap/blob/master/WpcapSrc_4_1_3/Packet9x/DLL/Packet32.c#L524-L533
 * https://github.com/patmarion/winpcap/blob/master/WpcapSrc_4_1_3/Packet9x/DLL/Packet32.c#L134-L180
 * https://msdn.microsoft.com/en-us/library/windows/desktop/aa363216(v=vs.85).aspx

It's worth logging each of the parameters before calling `PacketReceivePacket

[2017-09-03 19:15] bgourlie commented on #281
A few questions (not apparent reading the linked docs):

- Is it really exceptional for ` winpcap::PacketReceivePacket` to return 0?
- If not, shouldn't the iterator that's being implemented return an `Option`

[2017-09-03 20:26] mrmonday commented on #281
According to the docts there:

[code]

So I believe that the error there is correct (except possibly in the pending case - that needs more investigation - might be worth opening a separate issue for that).

For the original error you reported to occur, `PacketReceivePacket()` needs to return success (non-zero), but after that no packets get added to `self.packets`.

[2017-09-09 03:58] dlrobertson opened #286 "NDP packets include ICMPv6 fields"
Currently the NDP packets include the ICMPv6 type, code, and checksum fields. As a result, these fields will be parsed twice, and may be redundant. Given the following

[code]

We could remove the ICMPv6 fields from the NDP packet definitions, and then require `packet.payload()` to be passed to `NeighborAdvertPacket::new`.

However, this will not allow for the following use case.

[code]

Not sure

[2017-09-13 15:47] zwb-ict opened #287 "How to manage multi sockets?"
I want to handle muilt sockets in one process. If where a way like **epoll** to manage these?

[2017-10-04 20:15] angel-manuel opened #289 "Compilation without pcap"
I'm interested just in packet parsing. I would like to avoid including the pcap dependency.
I've tried to disable all features but the datalink module(i don't needed it either) fails to compile.
Is there any way?

[2017-10-07 14:13] mrmonday commented on #289
Breaking out the packet parsing into its own crate is something we'd like to achieve, but we're not there yet. @faern has started some of that work in #288.

The pcap dependency is optional, and isn't built by default - I don't know why it's being pulled in for you. If you can provide some more information we can try and figure out what's happening for you.

[2017-10-07 16:14] faern commented on #289
@angel-manuel That is definitely coming! I'm on the other side of the spectrum, I want to use `datalink` but without anything else. Give me a while and I will have broken out the datalink stuff at least and then maybe the rest will work better for you.
The goal is to also make the packet stuff it's own crate, but that might take a bit longer.

[2017-10-10 10:15] bkchr opened #293 "Support packages without fixed endianness"
Hi, I currently work with endianness, a library to talk to Netlink that uses libpnet. The problem is that Netlink packages does not use a fixed endianness. I created a temporary patch https://github.com/polachok/pnetlink/pull/30 that works around the problem, but as you see, this creates a lot of duplicate code. There is probably a better solution, but I think the best solution would be to fix thi

[2017-10-11 16:48] mrmonday commented on #293
I would use a `he` suffix, for "host endianness". I prefer to keep it explicit.

A pull request would be great! A ctrl-f for `"be"` in `pnet_macros_support/src/types.rs" and `pnet_macros/src/decorator.rs` should put you in the right place. I'm happy to provide any other assistance you need.

[2017-10-13 18:47] angel-manuel commented on #289
After the last commits, I can avoid datalink by commenting references on lib.rs and on Cargo.toml

I would be satisfied with it being a feature. No need for packet to be on a whole different crate.
It wouldn't solve @faern problem though.

[2017-10-13 19:00] faern commented on #289
Ah. Yeah, the `pnet_datalink` dependency should probably be a feature, true. Otherwise you can't get the packet without datalink of course! I was mostly happy I could now use datalink without packet :)

I'll put it behind a future (that is active by default).

[2017-10-13 19:09] faern commented on #289
@angel-manuel Check if https://github.com/libpnet/libpnet/tree/add-datalink-feature satisfies your needs.

[2017-10-13 20:29] angel-manuel commented on #289
@faern Yes, it works perfectly. Thanks a lot.

[2017-10-13 20:29] #289 closed

[2017-10-14 13:59] faern commented on #289
@angel-manuel However, we are likely not going to merge that. But at some point the package module will be split out into its own crate. You can even help do that if you would like.

[2017-10-22 09:06] #293 closed

[2017-10-22 09:28] mrmonday commented on #287
libpnet doesn't currently expose the file descriptors to allow this - you would need to use multiple threads. Another option is to set the read and write timeout options to `0` - then the backend will yield immediately if there are no packets.

If you want to use epoll/kqueue/etc then you would need to extend libpnet - I'd be happy to help mentor this if you'd like to work on this.

Sorry for the

[2017-10-22 09:38] mrmonday commented on #286
I'm not familiar enough with NDP to say which is best. The general design of pnet's packet parsing code is to have one packet type per "header", then you pass the payload to the next packet type to handle that.

In terms of parsing overhead - no parsing is done until you explicitly call `.get_something()`, so that shouldn't matter.

Sorry for the lack of response, this got lost in my inbox.

[2017-10-22 09:39] mrmonday commented on #281
Have you had a chance to look into this further?

[2017-10-22 09:40] mrmonday commented on #278
Is this resolved now?

[2017-10-24 19:32] #246 closed

[2017-11-11 17:50] huoyuanliao opened #301 "libpnet::pnet_datalink capture from file should return pcap header"
Hi, I'm trying to use libpnet to parser pcap file,and parser the payload of packets.
examples/pcapdump.rs gives a good code to show how to handle EthernetPacket.
but,when I check the source code, I found EthernetPacket is wrapped  with only the ethernet payload,without pcap header, because the timestamp in pcap header is important for deep packet handle .the code is in pnet_datalink/pcap.rs :
impl

[2017-11-11 18:34] huoyuanliao commented on #301
I use another pcap crate to iterator the pcap file, and then use pnet::packet to parse the ethernet payload, I think It must be the standard use case. thanks a lot.    :)

[2017-11-11 18:34] #301 closed

[2017-11-14 22:37] Trolldemorted opened #302 "pnet 0.20.0 failed to built until I removed Cargo.lock"
I am not a cargo expert, but could it be that you depend on a dependency's changes in a minor version you do not explicitly request?

https://pastebin.com/1fNdYG1S

[2017-11-16 01:31] kmroz opened #303 "pnet_sys does not take sin6_scope_id into account when generating a sockaddr"
Hi,

First off, this is a really cool set of libraries!  I've been using them for the last couple of days to gain some experience with Rust.  I ran into a problem when trying to send an Icmpv6Packet to fc02::1 (link local multicast to all nodes).  The error was an "address not routable" (I don't recall the exact error msg/code).

It appears that when populating the SockAddrStorage reference from a

[2017-12-04 12:01] Trolldemorted opened #305 "(ethernet) packet validation"
When listening to network interfaces via pcap, the resulting packets are usually ethernet frames.

But if tunnels like openvpn provide a [TUN](https://de.wikipedia.org/wiki/TUN/TAP) interface, the packets can be whatever an ethernet frame can contain, the most prominent ones being IPv4 and IPv6, naturally.

`EthernetPacket::new` however does not return `None` when opening an IP packet, nor did I f

[2017-12-06 16:51] deg4uss3r commented on #305
I can possibly help with this, if there’s a part-time mentor involved

[2017-12-06 17:24] Trolldemorted commented on #305
I would have done this myself, but unfortunately for some obscure reason libpnet is generating the packets' code with ugly macro magic on every build, which breaks IDEs and forbids us to add a new functions for individual packet types.

[2017-12-06 21:52] mrmonday commented on #305
@deg4uss3r I'm always happy to mentor - I'm rather busy at the moment, but ask what you need I'll respond when I can. I'm a bit more responsive on IRC, so if you can idle in freenode/#libpnet that might be a good idea.

@Trolldemorted:

 * The rationale for auto-generating packets can be found in this paper: https://octarineparrot.com/assets/msci_paper.pdf - basically it saves boiler plate, requir

[2017-12-10 23:35] Trolldemorted commented on #305
Thanks for the link to the paper, it was a very interesting read!

After having read into the topic, are you sure a separate DSL would have been better? The process of expanding code according to attributes sounds less labourious than defining a new DSL, a parser and a code generator for it.

Nevertheless, can't we commit the generated files into the repository, and have the buildscript generate n

[2017-12-12 17:05] Dash83 opened #307 "Wrong documentation link in crates.io entry"
Just wanted to drop you an FYI that in the link for this crate on crates.io (https://crates.io/crates/pnet), in the top level links (homepage, documentation, repository, dependant crates) the documentation link points to what I assume is an old documentation page that doesn't match up to the latest docs of the crate.
Wong link => http://octarineparrot.com/assets/libpnet/doc/pnet/
Current docs => h

[2018-01-01 15:06] mrmonday commented on #307
I don't know why crates.io points to the wrong location, I can't find any reference to the wrong/old link anywhere.

I've set up a redirect so the wrong URL redirects to docs.rs instead. Thanks for the report!

[2018-01-01 15:06] #307 closed

[2018-01-01 15:10] #303 closed

[2018-01-27 06:42] tshepang opened #309 "build fails when compiling for armv7-unknown-linux-gnueabihf"
[code]

[2018-01-27 13:36] mrmonday commented on #309
Hi - which host OS/glibc are you using? This works for me:

[code]

It looks like the build is looking for glibc 2.18 or later - do you have that installed? Are you able to build a hello-world for `armv7-unknown-linux-gnueabihf`, or does this only happen for libpnet?

[2018-01-27 14:53] tshepang commented on #309
Was actually using cross, instead of cargo, and it must this [this issue](https://github.com/japaric/cross/issues/39), since the problem disappeared after I did a `cargo clean`.

[2018-01-27 15:12] #309 closed

[2018-02-23 03:09] kpcyrd opened #311 "Feature: calculate_checksum() for MutableTcpPacket"
After about an hour of debugging, I figured out that I didn't correctly set the tcp checksum and my packet was therefore discarded.

I'm currently using
[code]
To set the checksum, it would be really sweet to have a method on `MutableTcpPacket` with `&mut self` that does this internally.

Also, if possible, it should accept `&Ipv4Addr` instead of taking ownership since I only have a borrow of the

[2018-03-05 03:30] kpcyrd opened #312 "OpenBSD support"
pnet_datalink currently fails to compile on openbsd. It seems there are some target_os specific filters that would need adjustment.

[2018-03-06 18:35] mrmonday commented on #312
I've just installed OpenBSD locally and made the changes it needs to build. I'll try and run the test suite then get some fixes pushed up.

[2018-03-06 19:03] mrmonday commented on #312
![image](https://user-images.githubusercontent.com/165689/37052387-10984586-2171-11e8-9324-a9351c9696af.png)

[2018-03-06 19:04] kpcyrd commented on #312
@mrmonday awesome! :) Please let me know when you publish anything so I can help out with testing.

[2018-03-06 19:08] mrmonday commented on #312
I've opened a PR here - https://github.com/libpnet/libpnet/pull/313 I'll merge it in once CI passes so I know I haven't broken the other platforms.

I've tested on OpenBSD 6.2, it should work on any older version you might be using though (the parts of the system libpnet relies on haven't really changed since the 90s).

I've only tested on amd64 - it would be great if you could test with a 32 bit

[2018-03-06 19:11] mrmonday commented on #311
Packets aren't automatically checksummed - it should be possible to create invalid packets as well as valid ones.

There has been a lot of iteration on the checksumming code - I seem to recall that having a simple `.checksum()` doesn't work, for whatever reason. I could be mistaken.

I will update ipv4/6 checksum functions to borrow the IP addresses rather than taking ownership.

[2018-03-06 19:49] #312 closed

[2018-03-07 18:38] mrmonday commented on #312
OpenBSD support is now published on crates.io in v0.21.0 - https://crates.io/crates/pnet/0.21.0

[2018-03-07 18:39] kpcyrd commented on #312
@mrmonday awesome, thanks a lot!

[2018-03-15 19:04] squeed commented on #245
I still think there's a case to be made for figuring out the OS-side filtering story. I first came to pnet since it seemed like a reasonably sane library for raw sockets.

As a first attempt, we could add something only to datalink::linux, rather than coming up with a full cross-platform filtering story.

[2018-03-15 19:05] squeed commented on #245
As a use-case, I was looking to write a simple neighbor-discovery proxy in Rust as a learning exercise, but you can't open up an icmpv6 socket. You have to do AF_PACKET and filter in bpf.

[2018-03-24 16:37] vorner opened #318 "Optional serde support"
Hello

Would it make sense to add optional/feature gated support for serde for some types? I'd use it with `MacAddr` (loading it from [config](https://crates.io/crates/config)), but there might possibly be more types that could be useful.

I'd provide the implementation, but I wanted to check first, as there might be reasons against that support.

[2018-03-24 16:38] mrmonday commented on #318
As long as it's feature gated, I have no problem with this.

The same goes for any other popular crates.

[2018-03-24 16:48] vorner opened #319 "Lifetime of pnet_macros_support::packet::Packet is shorter than it could be"
Hello

Let's say I want to have a function I hand a buffer with a packet and it pulls it apart layer by layer and then returns the payload no matter if it is ethernet/IPv4/UDP or ethernet/IPv6/UDP. I want to create an `EthernetPacket` on top of the buffer, check the ethertype, create either `Ipv4Packet` or `Ipv6Packet` on the `payload()` from the ethernet packet, etc… this works fine until I try t

[2018-03-24 16:58] mrmonday commented on #319
The `Packet` trait used to have a lifetime attached it - I don't remember the details of when/why it was removed - you might be able to find out why in the git history somewhere.

If you can make it work, I'd definitely be interested in a pull request.

[2018-03-30 12:38] buckle2000 opened #322 "Change repeat.take.collect into vec![0; size]"
https://gist.github.com/buckle2000/94a1284c73a3b7e3fbd04138e17054c1

[2018-03-30 16:21] mrmonday commented on #322
I'd love a pull request if you have time!

[2018-04-08 10:55] mrmonday commented on #278
I'd love a pull request - you'll know exactly which changes are needed since you've just done it!

[2018-04-18 06:03] buckle2000 commented on #90
Anyone still here?

[2018-04-18 16:12] #322 closed

[2018-04-18 17:58] micmonay commented on #281
I have created a solution for me. I returned an error instead of unwrap. For me it's good, but I don't know if my code is correctly written. [292154d](https://github.com/micmonay/libpnet/commit/292154d1ae38cd84d21d78e3f6068d85efcc0c37)

[2018-04-18 18:27] ilsken commented on #245
I'd also like to have a way to set a filter, perhaps behind a feature flag when using pcap as the datalink backend?

[2018-04-19 01:58] buckle2000 commented on #90
Yes, libpnet can receive TCP packet, but how can I decode TCP packet from IP layer?

[2018-04-19 03:22] buckle2000 opened #325 "Cannot capture outbound TCP packets"
If I run [this code](https://gist.github.com/buckle2000/5a65b8dccb0061a11672f42ec3c97755), I can only capture inbound packets.
I want to capture outbound packets as well.
Is this a feature?

log:
[code]

[2018-04-19 03:27] buckle2000 commented on #325
Also, the API does not allow checking the destination address.

[2018-04-19 03:39] buckle2000 commented on #325
There is not sufficient documentation!

[2018-04-19 03:58] buckle2000 commented on #245
+1

[2018-04-19 04:35] buckle2000 opened #326 "Bad API design"
Current API does not allow checking the destination address.
How do I receive packets in layer 3 but send packets in layer 4?

IMHO,
`ipv4_packet_iter`'s iterator should yield `packet` on `next()`,
while `tcp_packet_iter`'s iterator should yield `(packet, src_ip_addr, _ip_addr)`.
But they yield `(packet, src_ip_addr)` for now. It's really strange.

[2018-04-19 05:30] david415 commented on #90
if it works then good. done. converting from ethernet frames makes no sense. close ticket.

[2018-04-19 05:30] #90 closed

[2018-04-19 15:31] mrmonday commented on #325
Which operating system are you using?

The transport layer stuff is very flakey - there are a lot of differences in functionality between OS. libpnet tries to cover them up, but it is not always successful.

[2018-04-19 15:38] mrmonday commented on #326
This is used, because this is what the operating gives you, when you receive a packet, see: https://linux.die.net/man/2/recvfrom

The iterators could, of course, return something else, if there were a good motivating reason to do so.

[2018-04-19 15:42] mrmonday commented on #90
@buckle2000 You would take the `&[u8]` from the data link channel, construct an `EthernetPacket` from it. You can then construct either an IPv4 or IPv6 packet from the ethernet packet's payload, based on the ethertype. From there you can create your TCP packet, using the payload from the IP packet.

[2018-04-19 15:45] mrmonday commented on #245
If someone is willing to do the work, I'd be willing to accept BPF support for libpnet behind a feature flag.

[2018-04-19 16:00] mrmonday commented on #281
@micmonay Are you able to reliably reproduce the issue?

Looking at the fix, I'd be curious to see what the value of `buflen` is when this fails. Perhaps we need an additional check in there?

Either way, I'd love it if you could make a PR for this!

[2018-04-19 17:41] micmonay commented on #281
I have changed code for show debug information for buflen
[code]
After few minute I get this result :
[code]
This don't breaking the capture
On the next result, I capture the Homeplug packets:
[code]
I'm not sure if I have understand your request. If you have need other test...

[2018-04-19 18:54] mrmonday commented on #281
@micmonay Thanks for the debugging!

The issue is that `PacketReceivePacket` is returning success, but not returning a packet - the code doesn't account for this.

Given that, I think  the correct fix is to change the `if self.packets.is_empty()` to `while self.packets.is_empty()`, then check for `buflen == 0` - if it is, continue to the next iteration (aka try and get another packet).

[2018-04-19 20:02] micmonay commented on #281
Just `while` it's fine for me in my test

[2018-04-19 20:43] mrmonday commented on #281
Going to close this, since it should be fixed by #327. If there's still an issue this can be re-opened.

Thanks again @micmonay!

[2018-04-19 20:43] #281 closed

[2018-04-21 08:51] buckle2000 commented on #325
Linux 4.13.0-38-generic #43-Ubuntu SMP x86_64 GNU/Linux / Ubuntu 17

[2018-04-23 12:27] squeed commented on #245
At this point, the blocker is in waiting for some supporting PRs to be merged in to ebfull/pcap, which is effectively abandoned. It might be time to fork.

[2018-04-23 12:31] squeed commented on #245
I take that back. That's only to compile netfilter-style filter syntax in to bpf programs. There is another crate that just exports the bpf program structs. If we just want to accept bpf programs as Vec<u8>, then there won't be any external changes needed.

[2018-05-05 14:03] berkus commented on #168
True, the packet should be stripped down to  `packet.packet()[..packet.packet_size()]`

[2018-05-25 20:40] JuxhinDB opened #329 "Data Link Interfaces call on Windows panics"
**libpnet version**: 0.21.0
**rustc version**: 1.26.0
**os**: Windows 10 Pro x64

---

On Windows, it appears that the following snippet always `panic!`(s)s:

[code]

With the following:

[code]

After some digging it appears to be related to [this](https://github.com/libpnet/libpnet/blob/89b7f5f916f109fe8588e02eea0bfcc6fdb84b90/pnet_datalink/src/winpcap.rs#L335) line of code.

List of local Netwo

[2018-05-25 23:36] Trolldemorted commented on #329
Does windows support sending arbitrary packets from the userland?

[2018-05-25 23:48] mrmonday commented on #329
@Trolldemorted, yes, using winpcap. This is what libpnet does.

@JuxhinDB Would you mind sharing your interface list? It looks like what's happening is that there is more interface data than libpnet is currently set up to handle. I'll see if I can reproduce this tomorrow.

[2018-05-26 07:06] JuxhinDB commented on #329
@mrmonday - Sure thing, attaching the output of `Get-NetAdapter` below:

[code]

I will also attach it to the original issue for you. Should you need anything else please let me know.

[2018-05-26 11:15] mrmonday commented on #329
Great - looks like I should be able to reproduce it by adding a bunch of hyper-v virtual adapters. I'll see if I can put a fix together in the next few hours for you :)

[2018-05-26 12:09] JuxhinDB commented on #329
Awesome, thanks a bunch for the quick turnaround. Just out of curiosity and in order to learn something new, please do let me know when you push a fix so that I can see how you dealt with the issue.

From what it seems, you are starting out with a fixed buffer size to pull the list of network interfaces (insufficient for my number of interfaces). Should the buffer not be big enough, you should cre

[2018-05-26 15:44] JuxhinDB commented on #329
Sure thing! I'll give it a shot tonight or early tomorrow and start from there.

[2018-05-29 01:11] kpcyrd opened #331 "Can't determine datalink type"
**pnet version: 0.21.0**

I'm missing an essential feature from the current api, that is that I can't determine what sort of interface I've just opened. :) pnet is able to open all sorts of interfaces, I've successfully opened regular ethernet, tun and even wifi in monitoring mode, but it seems there is no way to know what packets are emitted by the interface unless I have a method I can call that

[2018-05-29 01:46] kpcyrd commented on #331
It seems on linux it's this code (from libpcap):
[code]

For this ioctl, `sa_family` is set to the linktype (as [dlt][0]):

[0]: https://github.com/the-tcpdump-group/libpcap/blob/52aec50c399dc70a713428264702b5a7cd9ec78d/pcap-common.c#L1152

[2018-05-29 08:52] mrmonday commented on #331
My prefered way to handle this would actually be with the channel type - https://github.com/libpnet/libpnet/blob/e817822bb3cd2f5031de4cab4b66f89af08a4d04/pnet_datalink/src/lib.rs#L92

It should return Ethernet/Raw/etc as appropriate.

We actually already have some logic to handle this already for BSD/OS X, it's not complete though.

Though, thinking about it, that makes the case where you don't ca

[2018-05-29 15:45] JuxhinDB commented on #329
@mrmonday - Would you like to leave this open for the time being until the crate is updated and I can confirm it works?

[2018-06-05 08:47] AvasDream opened #332 "My Project doesn`t link when i use libpnet on windows 10"
Hello,

 i am trying to integrate libpnet in my rust project but i am not able to compile the project after I add libpnet to cargo.toml and import the pnet crate. Is this an issue with my setup?Is libpnet just for *NIX systems?

I replicated the problem on my other windows 10 Laptop (Windows 10 Pro, 10.0.17134 Build 17134).
The continous integration Server i am using (travis-ci.org)  had no proble

[2018-06-05 09:03] Trolldemorted commented on #332
The linker error message tells you everything you need to know:

[code]

Your loader must be able to find Packet.dll at startup, and the linker must be able to find Packet.Lib at link time. [The readme tells you where you can get them](https://github.com/libpnet/libpnet#windows). Note that you don't need the nightly (I think?), you can also use Npcap, and you do not neccessarily have to place the

[2018-06-05 09:23] AvasDream commented on #332
Oh that is embarassing, not correctly reading the docs and opening an issue. You were totally right after adding the deps everything worked fine. Thank you for your help!

[2018-06-05 17:00] #332 closed

[2018-06-05 17:01] mrmonday commented on #332
I've updated the README with your information, thanks @Trolldemorted!

@AvasDream Don't worry about it - please feel free to open more issues for anything you need.

[2018-06-11 06:07] Boscop commented on #331
Is there currently a way to detect if a [`NetworkInterface`](https://docs.rs/pnet/0.19.0/pnet/datalink/struct.NetworkInterface.html) is ethernet or wifi? Maybe from the `flags`? (I only need it to work on linux/unix).

If not, what's the currently best workaround? :)

[2018-06-11 17:22] mrmonday commented on #331
I'm afraid there's no way to get it currently without modifying libpnet.

You can find a list of the flags under `man 7 netdevice`, under `ioctls / SIOCGIFFLAGS` headings. Alternatively, take a look in `/usr/include/net/if.h`, and look for `IFF_*` constants. They're primarily used for things like "is this a loopback device" or "is the device online".

I don't know off the top of my head how to get

[2018-06-17 15:48] antoinesauray commented on #329
The issue is still present on the master branch, with a different error message.
`Unable to get interface list despite increasing buffer size`

[2018-06-23 14:58] mrmonday commented on #329
It would be great if we could detect if we have sufficient permissions so we can give a better error message for this.

If not, we should at least update the error to include "or program is not running as admin" or similar.

[2018-06-28 08:52] JuxhinDB opened #334 "Win32 `sendto` always failing with 10022 | 10045"
Version: 0.21.0
OS: Win10 x64

---

I'm currently looking to send an IP packet (tcp) on my Windows machine. I got to the point where I built the packet, obtain and interface and try to send it, however when calling [Win32 sendto](https://docs.microsoft.com/en-us/windows/desktop/api/winsock/nf-winsock-sendto) I am receiving the following error:

[code]

This seemed odd as all the arguments match th

[2018-06-29 10:38] mrmonday commented on #334
You can't send TCP packets using the transport API on Windows. Sames goes for FreeBSD and macOS.

https://docs.microsoft.com/en-us/windows/desktop/api/winsock2/nf-winsock2-socket

Since this is a raw socket, the type parameter is `SOCK_RAW`. This also explains the error message - `IPPROTO_TCP` is an invalid argument when the socket type is `SOCK_RAW`.

This is mentioned in the docs for libpnet her

[2018-06-29 10:38] #334 closed

[2018-06-29 11:04] JuxhinDB commented on #334
Great, thanks for the clarification @mrmonday. Once I get my head around things, I'll help around with better Windows support.

[2018-07-02 12:35] JuxhinDB commented on #334
Incase this may help someone else in the future. You can find my attempt at sending a TCP packet below. It's not correct, as the byte output currently is looking something like:

[code]

However once you build your TCP packet, you can try the following:

[code]

Bare in mind that you must change the interface from `"\\Device\\NPF_{F94968E8-FBA0-410D-8CD3-F205AEAD4DC9}"` (which is my Windows Ethern

[2018-07-15 03:26] LEXUGE opened #337 "How to send a network layer packet by using libpnet?"
I'm trying to construct IP header and TCP packet by myself.
But I can only find send datalink layer packet or transport layer packt by using libpnet.
I don't want to construct Ethernet header by myself, but I still want to construct IP header by my self.
How to achieve that?

Thank you!

[2018-07-15 11:38] mrmonday commented on #337
Hi,

You can use `pnet_transport` for this, make sure to pass `Layer3` as the channel type - https://docs.rs/pnet_transport/0.21.0/pnet_transport/fn.transport_channel.html

Bare in mind that if you are sending TCP/UDP packets, this will only work on Linux - Windows, FreeBSD, and macOS do not allow you to use `pnet_transport` with protocols they already handle. If this is what you're trying to achi

[2018-07-16 02:47] LEXUGE commented on #337
Hi,

I knew that.
But I found that [send_to](https://docs.rs/pnet_transport/0.21.0/pnet_transport/struct.TransportSender.html#method.send_to) method requires that `Packet` trait is impled by `packet`.
But I constructed both IP header and TCP header by myself. How can I send them?

[2018-07-16 14:51] LEXUGE commented on #337
@JuxhinDB However, as @mrmonday said, It can work on the Linux.
I tried it.

[2018-07-16 15:10] JuxhinDB commented on #337
You are correct, I had in mind Windows and forgot to mention it in my comment.

[2018-07-16 15:34] mrmonday commented on #337
@LEXUGE Do you mean you've constructed the bytes directly? If so, you can wrap them in a `MutableIpv4Packet::new(my_bytes).unwrap()` to use `send_to()`.

The datalink layer stuff doesn't require using the packet stuff, transport/network do though.

[2018-07-17 22:08] LEXUGE commented on #337
@mrmonday Not that situation really.
I mean how to combine my IP header and TCP header together and impl the Packet trait?

[2018-07-18 15:10] mrmonday commented on #337
@LEXUGE This is what @JuxhinDB's code does.

Could you give some sample code, maybe that would help?

[2018-07-19 15:49] mrmonday commented on #337
Providing `self.packet` is a valid packet, it should be fine.

I have never tried this before.

[2018-07-22 02:59] LEXUGE commented on #337
Finally, I solved it by using `TcpPacket`.

the code can be found in [lib_blaster](https://github.com/LEXUGE/lib_blaster)'s [build_pkt](https://github.com/LEXUGE/lib_blaster/blob/257ec5d29f89ffa6dedf522382f6c093980e0e71/src/builder.rs#L24) function. (The [sender.rs](https://github.com/LEXUGE/lib_blaster/blob/master/src/sender.rs) may help you also.)

[2018-07-22 02:59] #337 closed

[2018-07-22 13:09] qqwa opened #343 "Nonblocking function for DataLinkReceiver"
The trait `DataLinkReceiver` has currently only on function `next` which blocks the thread. Is it possible to extend it with a function `try_next` similar to the `try_recv` function of the `Receiver` from the std library?

My use case is that I first capture packets on all interfaces. If one interface finds a specific packet, it closes the other interfaces(threads). But they have to wait for a pac

[2018-07-22 13:55] qqwa commented on #343
Ah didn't realize there was a config struct. That is basically what I was looking for thanks.

Does it also work on windows? `Linux/BPF/Netmap only`

[2018-07-22 13:58] mrmonday commented on #343
Unfortunately not - in theory it could, but it would need someone to write support for it.

[2018-07-23 20:29] DaryaTsikach opened #344 "ipv6 packet sender"
Hello,
I was trying to send ipv6 packet using pnet on transport channel at layer3. It was surprisingly for me, that send_to on layer 3 is not implemented for ipv6.  (I am trying to do this on my kubuntu 18.04 laptop)
I was wondering if I am doing something wrong? And if I am, could you please clarify how pnet is supposed to work with ipv6 packets?

Best regards!

[2018-07-27 16:07] stephanbuys opened #345 "wg-net (low-level subgroup)"
@mrmonday `libpnet` is a no-brainer to participate in this if you are interested: https://github.com/rust-lang-nursery/net-wg/issues/15

[2018-07-28 09:38] mrmonday commented on #344
It is highly platform-dependent as to whether this works. IPv6 support at layer 3 on most operating systems is either not supported, or not well supported.

It looks like it should be possible to get this working on Linux - I'd be willing to mentor you if you would like to work on it.

I would personally recommend working with the datalink layer instead, and manually constructing the Ethernet fram

[2018-07-28 09:41] mrmonday commented on #345
Thank you for pinging me!

I left a... [brief comment](https://github.com/rust-lang-nursery/net-wg/issues/15#issuecomment-408595008) there.

I'll close this issue now, but feel free to tag me in the other thread or open another issue.

[2018-07-28 09:41] #345 closed

[2018-07-28 14:46] anhhh11 commented on #329
Using name from Get-NetAdapter not works:
Use name from:

Which result:
**\Device\NPF_{<some number...>}**: flags=0
      index: 4
      ether: 00:........................
       inet: 0.0.0.0/0

[2018-08-05 18:18] qqwa opened #346 "TcpPacket Payload contains padding"
When using the `payload()` method the returned slice also contains the padding and there is currently no way to calculate the actual size using only `TcpPacket`. So it would be nice to add an additional method and field to `TcpPacket` containing the actual size of the payload and/or change the `payload()` method to trim the padding.

Formula is taken from https://stackoverflow.com/questions/663979

[2018-09-04 17:12] masche842 opened #348 "Windows: provide NetworkInterface description in addition to name"
Windows/winpcap has the IP_ADAPTER_INFO type and PacketGetAdapterNames function to enumerate network interfaces. While the names are not very human-readable (e.g. F48A60DC-4371-4970-B91A-88C8773E1452 and \Device\NPF_{E6BA643C-B5C1-4A7A-9A1F-900312083BBD}, respectively), IP_ADAPTER_INFO->Description is much better: Realtek PCIe GBE Family Controller #2

pnet's NetworkInterface struct only has a nam

[2018-09-27 17:46] masche842 opened #349 "Packet loss on Windows"
Using a layer-2-only application, we encountered packet losses as soon as tcp traffic was transfered on the same interface.
Checking with Wireshark we could however see, that all packets have been received by winpcap

I think I also saw some lost packets in the tcp traffic.
I'm not sure if this issue really is tcp related or rather correlates with packet size or load in general.

As a quick workar

[2018-10-18 04:11] jmmk commented on #245
@mrmonday I've made a rough example of adding a bpf filter using the bpf backend: https://gist.github.com/jmmk/5c8055fce40f018b27138c9b77214049. It works on macOS for the `packetdump` example

Notes:
- It requires linking libpcap to utilize the filter compiler
- The mechanism I used to install the filter is ported from libpcap: https://github.com/the-tcpdump-group/libpcap/blob/master/pcap-bpf.c#L3

[2018-10-20 15:41] jmmk commented on #245
Here's a small example of what I'm doing at the moment in my own code: https://gist.github.com/jmmk/d6c42375ac1471a1773a601d9c9dd341

I have some wrappers around `libpcap` C functions (not using `pcap` crate) and then I convert the raw data to `pnet::packet::ethernet::EthernetPacket`. Using the `libpcap` functions directly makes it easy to apply a filter. You could imagine a nicer API could treat

[2018-10-24 09:53] mrmonday commented on #349
Sorry for the lack of response.

It looks like they managed to resolve their issue by switching to Npcap rather than Winpcap drivers - have you tried that?

In theory we should get exactly the same behaviour as you see in Wireshark, providing the same driver is used.

[2018-10-24 09:54] mrmonday commented on #348
I think adding a description field is a good idea - I'd be willing to mentor with this if you would like to implement it.

Sorry for the lack of response.

[2018-10-24 09:55] mrmonday commented on #346
I'm not familiar with the implementation of libpnet's TCP packet - I agree there should be an additional method for this.

Since I suspect this use case is fairly common, it might be nice to have this as a trait which can be implemented for different packet types.

[2018-10-24 12:29] mrmonday commented on #245
I agree.

I think in order to answer this question, a more fundamental question needs to be answer - what is `libpnet`?

Right now, it's a weird mish-mash of low level networking utilities, with no clear goal. Here are some of the things it does (to varying levels of quality and completeness) right now:

 * Datalink layer networking in kernel space
 * Datalink layer networking in user space
 * Int

[2018-10-26 16:33] polachok commented on #245
Actually it makes a lot of sense, I used libpcap BPF compiler + bpfjit in [syncookied](https://github.com/LTD-Beget/syncookied) to filter packets. But I agree that it probably doesn't make sense to include it in libpnet.

[2018-10-26 20:01] mrmonday commented on #245
I feel like BPF makes sense in a similar way to `pnet_packet` makes sense[1] - it makes sense to have a sensible abstraction over BPF/eBPF.

My personal opinion is that there is no reason to write bytecode (or some assembly language for it) - you are already using a programming language, why can't you use that[2][3]?

[1] For the record, while I feel like `pnet_packet` has a lot of good ideas, I d

[2018-11-05 16:27] ghost opened #351 "Make Mutable<proto>Packet provide a fluent API"
I've recently started working with libpnet and found the design choice a bit inconvenient.

Has it been considered to change the API do that the `Mutable` structs work like a "builder"?

I was thinking something along the lines of:

[code]

The problem of doing this is that it is clearly a breaking API change.

[2018-12-19 01:25] jtroo opened #353 "MutableEthernetPacket::owned() should use capacity, not length"
The title and examples should be descriptive enough.

Code that doesn't work, but I think should:
[code]

Code that works, but uses unsafe and should not be necessary:
[code]

Rust information:
rustc 1.27.1

Cargo information:
[dependencies.pnet]
version = "0.21.0"

[dependencies.pnet_datalink]
version = "0.21.0"

[2018-12-19 02:06] jtroo commented on #353
I'll elaborate on the use case for this pattern. I'm using an L2 payload not supported by libpnet into and manipulating it further after `ethernet_packet` has been created, then repeatedly calling `ethernet_packet.set_payload()`.

The alternative to the code would be to initialize the full packet, including DST MAC, SRC MAC, and ETYPE, but then I'd need to initialize the payload again. In my view

[2019-01-26 18:57] rbtcollins opened #355 "depends on orphaned syntex crate."
The subject says it all.

[2019-02-01 17:00] tsnoam opened #356 "Ownership of the buffer returned by `DataLinkReceiver.next()`"
Hi,

I would like to open a discussion for the following new API and offer to implement it.

### Problem:
The return value of `DataLinkReceiver.next()` is a slice of a buffer owned by the `DataLinkReceiver`.
On high performance packet processing app, it might be necessary to pass a packet for additional processing by another thread. In order to do so quickly and without additional memory allocatio

[2019-02-17 14:40] tnekic opened #359 "datalink::interfaces() and Qualcomm QCA9377 802.11ac Wireless Adapter"
datalink::interfaces() return empty on machines with Qualcomm QCA9377 802.11ac Wireless Adapter.

let interfaces = datalink::interfaces();
    let interface = interfaces
        .into_iter()
        .filter(interface_match)
        .next()
        .unwrap();

thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', libcore\option.rs:345:21

[2019-02-20 13:26] eaydogan commented on #359
Maybe your parameter is wrong.

Can you please add
`for interface in datalink::interfaces() {
        println!("{}", interface);
    }`
 top of your code.

And give one of those parameters.

![image](https://user-images.githubusercontent.com/1244956/53094771-2493a600-352c-11e9-9d01-1274457e1421.png)

[2019-03-01 20:42] athei opened #361 "pnet_packet build error after updating pnet_macros v0.21.0 -> v0.22.0"
Cargo update output:
[code]

Cargo.toml
[code]

Build output of cargo test:
[code]

Any ideas?

[2019-03-02 08:02] mrmonday commented on #361
If you change your `pnet_packet` dependency to `0.22.0` this will work again.

It looks like I messed up the version bump and broke the old version - sorry!

[2019-03-02 10:21] athei commented on #361
Thanks! That worked.

No hard feelings. I am glad that you go through the pain of splitting up your crates so I can use only the parts I need.

[2019-03-02 13:13] #361 closed

[2019-03-03 20:46] mattlknight commented on #348
@masche842 @mrmonday I'm going to start working on this myself as well. @mrmonday I am going to open an Issue on migrating to winapi v0.3.

[2019-03-03 20:50] mattlknight opened #362 "Migrate to winapi v0.3+"
I've noticed some legacy code in libpnet that I'm working on cleaning up in my personal fork. In doing so, I'm also migrating to latest version of winapi, where I've contributed a fair amount to iphlpapi support. Any issues with me working on a PR for updating code to support latest winapi? @mrmonday  Also, I'm super new to github workflows and cross fork merges, etc.., so I do apologize in advanc

[2019-03-03 20:56] mrmonday commented on #362
I look forward to your PR, let me know if you need a hand with anything.

PS Sorry in advance for my inevitably delayed responses - please keep chasing me if I don't respond within a couple of days!

[2019-03-05 16:24] mattlknight opened #364 "Missing Contribution and Development Documentation"
I am having a difficult time properly testing and validating my contirbutions to this repo. I believe some documentation might help this along. I would be willing to write this documentation as well, if I could get some help understanding the current build and test environment.

[2019-03-06 05:59] anderspitman opened #365 "Packet size seems small"
Howdy. I'm working on a simple tool with functionality similar to iftop. This requires me to count the number of bytes being sent and received. Starting with the packetdump example, I'm calling packet.len() in the main rx loop. If I understand libpnet correctly, adding this value to a total should give me the number of bytes send and received. However, after running for a while the value appears t

[2019-03-07 18:41] Draphar commented on #353
I think this is a Rust limitation. When allocating a `Vec`, there are no guarantees about the data stored at its memory location, so you have to first initialize it (or use unsafe code). This is why you normally use something like `vec[0; len]` to create a buffer. I have also run into this slightly confusing thing myself a couple of times, but eventually just got used to it.

[2019-03-08 08:10] jtroo commented on #353
Ah I see, that should do it.

[2019-03-08 08:10] #353 closed

[2019-03-08 16:02] Draphar opened #368 "The packet size of Ipv4 is calculated falsely"
The [`ipv4_payload_length()`] function is calculating the payload length using the `total_length` field + the `header_length` field. However, the `total_length` is in bytes, while `header_length` is in 32-bit words. For instance, let's say `header_length = 5` and `total_length = 60`. You would expect `packet_size()` to return `60`. But since `header_length` is not multiplied by 4, it actually retu

[2019-03-09 10:55] mrmonday opened #369 "Looking for a new maintainer(s)"
Anyone watching libpnet will have noticed the slow turn-around time on issues and pull requests, long-standing issues which have not been resolved, and perhaps seen [my comments about some of the work that needs doing](https://github.com/rustasync/team/issues/15#issuecomment-408595008) before I would consider it remotely close to a 1.0 library.

It is time for me to step down, and for someone new

[2019-03-09 20:39] mattlknight commented on #369
@mrmonday I'm willing to offer a significant amount of my time contributing to this project. It is a fairly import piece of some of the things I am playing with in Rust. I don't think I'm qualified to be a maintainer though. Here to help however I can.

[2019-03-14 16:16] mattlknight commented on #148
@mrmonday Late to the game, I will volunteer to do this work, already in progress. :)

I have some questions to the maintainers/user-base though.

1. How do we want to support npcap's feature of backwards compatibility with winpcap?
    - My proposal would be to use separate feature flags at the libpnet caller level. Such as feature "winpcap" or "npcap".

2. If we do support backwards compatiblity

[2019-03-14 16:23] mattlknight commented on #3
This is an interesting question. I think something that may help answer this question, is laying out a few scenarios of why you would want to compare two packets or two headers for equality.

If we are talking about tracing a conversation across multiple hops, then selected parts of the headers would be the way to go. If we are trying to see if a packet has been altered, I would think the entire p

[2019-03-27 11:55] mattlknight commented on #368
@Draphar  I can take a stab at the PR, can you provide any simple example of where the problem is occurring and what you expect (in code form)?. Or maybe jump on IRC so I can isolate where this issue is happening. I ask, becuase when I looked at the payload length function in master, I see this
[code]

So I'm thinking this section just needs to be correct with a `* 4` after as usize.
[code]

[2019-03-28 18:53] Draphar commented on #368
Yes, that is exactly what I meant. The `* 4` should fix it.

[2019-03-28 19:37] mattlknight commented on #368
I'll see if I can draft up a PR for this, and potentially fix/write some test cases. @Draphar  @mrmonday

[2019-04-11 14:03] sayanchowdhury opened #371 "LICENSE and README.md missing from sub rust package crates"
The crates uploaded for
- pnet_base
- pnet_datalink
- pnet_macros
- pnet_macros_support
- pnet_packet
- pnet_sys
- pnet_transport

in crates.io don't contain the LICENSE and README.md file in the crate.

[2019-04-15 07:24] JuxhinDB commented on #369
While I cannot be of _huge_ help -- I've pushed a PR before to libpnet and have kept an eye on it. Maybe I can be of help in the Windows support side of things since not many are willing to. Let me know what you think.

[2019-04-16 17:04] mrmonday commented on #369
I have added you both as maintainers to the repository (you should have received an invitation email). That should give you enough access to start merging pull requests.

Please make changes through pull requests, rather than pushing directly.

I can/will grant more access at a later point if all goes well.

[2019-04-25 05:35] maoe commented on #346
I came across the same issue with `UdpPacket::payload()`.

[2019-04-25 06:33] maoe commented on #346
It seems that at least for UdpPacket, I guess [this line](https://docs.rs/pnet_packet/0.22.0/src/pnet_packet/home/cratesfyi/cratesfyi/debug/build/pnet_packet-5e25de1d4dfd4299/out/udp.rs.html#342) should be something like
[code]

It's a bit hard to understand how this code is generated though. `pnet_macros::decorator::make_packet()` seems to do the job but I'm not sure if this change can be applied

[2019-04-25 08:10] JuxhinDB commented on #346
I'll try to take a closer look into this. I do not see any issues with adding it. As @mrmonday mentioned, it would be nice to have this as an implementable on most/all packet types.

If either of you are willing to create a PR for this, it would be most appreciated :pray:

[2019-04-27 07:14] ignatenkobrain commented on #355
@JuxhinDB any news here? We can't package pnet stuff for Fedora due to this.

[2019-04-27 07:22] JuxhinDB commented on #355
Hi, apologies for the delay in replying. Took a look at the issue and it seems that we're using an unmaintained crate.

The alternatives from what it seems is to make use of [quote](https://crates.io/crates/quote) and [https://crates.io/crates/syn](https://crates.io/crates/syn) crates potentially to achieve the same thing.

I'm still getting my way around the codebase but there are quite a few pla

[2019-04-27 15:03] JuxhinDB commented on #329
I'm not sure what is meant by the above @anhhh11 -- going to closing this issue. If the issue persists, let me know (with steps to reproduce) and we can re-open it.

[2019-04-27 15:03] #329 closed

[2019-05-09 19:47] JuxhinDB commented on #365
Hey @anderspitman, apologies for the late reply on this. Would you be able to do the following for me:

1. Give a PoC of what you've built so far so that I can reproduce it
2. Point me to the iftop source you were referring to so that maybe we can cross match

That way I can try to help you out better.

[2019-05-26 09:09] JuxhinDB commented on #365
Hi @anderspitman. Any update regarding the above issue so that I can help take a look at it?

[2019-05-27 02:53] anderspitman commented on #365
Hey @JuxhinDB, sorry for the late response. I put that project on hold for now. Feel free to close this issue. I can always re-open it.

[2019-05-27 07:20] JuxhinDB commented on #365
That's fine, you are more than welcome to re-open this down the line. I'll try to be more responsive :-)

[2019-05-27 07:20] #365 closed

[2019-06-09 08:49] nemosupremo opened #373 "datalink:: NetworkInterface::mac_address will panic on virtual interfaces"
I have some code like this which will grab all the network interfaces:

[code]

On a box with an openvpn connection, the above code snippet will panic when trying to read the mac_address of `tun0`.

[code]

I'm not sure what the right thing to do here, but it seems like providing the `mac_address` function seems a little unsafe. I was a unaware this function could panic (it happened on a release b

[2019-06-15 13:58] JuxhinDB commented on #373
Thanks for reporting this. Apologies for the late reply from my end.

From what I can tell, I would classify this as a bug. I'll see if I can setup an openvpn box with similar interfaces to reproduce it and fix.

If you wish, you are also more than welcome to submit a PR and we'll work on it together.

[2019-06-15 15:53] nemosupremo commented on #373
Is it really a bug? It makes sense that a virtual interface probably won’t have a MAC address.

The reason I reported this is that this was pretty to catch for me as the crash happened on a remote machine running a production build. It’s surprising that that function uses unwraps rather than just returning an option. I think a fix here would either to be deprecate the function or change the return

[2019-06-15 15:56] JuxhinDB commented on #373
I do get what you mean. I may figure out a way to issue a deprecation warning on the existing function and implement an new one that returns `Result` or something along those lines.

[2019-06-16 14:30] JuxhinDB commented on #373
@nemosupremo do you have a simple setup (i.e. container) with a similar setup? This would make it much easier for me to reproduce and work on.

[2019-06-17 15:34] nikita-skobov opened #374 "datalink::interfaces() fails to find wifi interfaces?"
Is libpnet only meant to find virtual/ethernet interfaces, or should it be capable of finding wifi adapters as well?

On Windows 10 I can run:
```wmic nic get guid, Name```

And I get the following output:
[code]

When I use this example from the repo:
[code]

It only gives me:
[code]

It does not show the wireless adapter that I use. I have tried several other wireless adapters and it still does

[2019-06-17 16:07] JuxhinDB commented on #374
I do not believe it should have issues. I had experienced something similar on Windows (missing interfaces, wifi or otherwise). However that was fixed by running as `SYSTEM` (admin). Could you try that out and let me know?

[2019-06-17 17:02] nikita-skobov commented on #374
I tried opening CMD as administrator and running the rust program via the command line. same results as above. I also tried [this method](https://blogs.technet.microsoft.com/askds/2008/10/22/getting-a-cmd-prompt-as-system-in-windows-vista-and-windows-server-2008/) of opening CMD as SYSTEM and also got the same results

[2019-06-19 07:00] JuxhinDB commented on #374
Do you have Wireshark installed on the same box? If so, are you able to pull the entire list of interfaces from there?

[2019-06-19 20:31] nikita-skobov commented on #374
Yes I do, and I just checked: wireshark is in fact able to see all interfaces

[2019-06-19 21:23] nikita-skobov commented on #374
I figured out my issue. It turns out I had [win10pcap](http://www.win10pcap.org) installed. win10pcap only works on ethernet devices. I figured this out when I uninstalled npcap and tried installing the old wpcap, which told me there already exists a wpcap on my computer. I searched for a bit and found that libpnet was using win10pcap, whereas wireshark was using npcap (which is why it was showing

[2019-06-19 21:23] #374 closed

[2019-06-20 12:41] JuxhinDB commented on #374
Hah! Glad you figured it out @nikita-skobov -- thank you for taking the time to explain and close the issue.

[2019-06-21 21:02] WGH- commented on #344
Doing ARP manually is not fun, though :)

[2019-06-21 21:42] WGH- commented on #344
I tested this only on Linux.

A few gotchas:
* `IP_HDRINCL` doesn't work (`setsockopt(3, SOL_IP, IP_HDRINCL, [1], 4) = -1 ENOPROTOOPT (Protocol not available)`). It seems the working way to do this is to set proto 255 (`IPPROTO_RAW`), even though some sources claim 255 has no special meaning for raw IPv6 sockets.
* Source address is not filled in automatically.

[code]

[2019-06-21 23:50] nikita-skobov opened #376 "Are the packet sizes abnormally small?"
I'd like to know the size of packets coming to/from a certain network interface, but I seem to be getting extremely low numbers. Im using the [packet dump](https://github.com/libpnet/libpnet/blob/master/examples/packetdump.rs) file from your example as a PoC, and all I did was add a

[code]

on line 251, right after `Ok(packet) => { ...`

I assume that packet.len() gives the length in bytes of the

[2019-06-22 15:42] JuxhinDB commented on #376
There are a number of issues related to packet lengths. In the meantime, have you tried using the calculated `packet_size()` instead of `len()`

https://github.com/libpnet/libpnet/blob/7c24134e589e5aed2ffd9775c4409aff0f54abdc/pnet_macros_support/src/packet.rs#L55-L58

[2019-06-22 16:47] nikita-skobov commented on #376
I have tried using that trait but I forgot how I did it last night, I didn't save my prototyping code. The packet size trait gets calculated based on the header and payload of the packet (depending on what type of packet it is, ie: ethernet, ip, tcp, etc), but the payload is a `[u8]`, so in the simple PoC I have provided below, if the `packet.len()` is a `[u8]` that is only 50 bytes, how could the

[2019-06-22 17:32] JuxhinDB commented on #376
Hi @nikita-skobov -- regarding the `len()` you are correct given that we are just dealing with the raw `[u8]`. I ran the same scenario as you did (same code) bound to my `eth0` equivalent on Windows both using WireShark and libpnet.

In my case I just tested ICMP packets to one of my domains. In WireShark these show up with 74 bytes:

![image](https://user-images.githubusercontent.com/8005101/5996

[2019-06-22 18:36] nikita-skobov commented on #376
Ok, can you try this:

[code]

The above program will count the number of packets and total bytes that contain a specific ip address. The ip address is hardcoded: `[54, 263, 156, 6]` this is an EC2 server that I set up to test this. Let me know if you are able to test this within a day or so,  because I don't want to leave this running for too long otherwise I'll get charged.

Please run this prog

[2019-06-22 20:32] nikita-skobov commented on #376
I tested this on a friends computer and got:

[code]

[2019-06-23 07:41] JuxhinDB commented on #376
@nikita-skobov with the above test, can you confirm what you are seeing in Wireshark too? As this will single out whether it's a networking related query or a bug tied to libpnet. I should be able to test later today or the coming week.

[2019-06-23 08:56] JuxhinDB commented on #344
Thanks for the follow-up @WGH- -- would you like to open a PR regarding the above? I'd gladly help.

[2019-06-23 09:00] WGH- commented on #344
Yes, why not. I'll test it on different platforms first. Give me a few weeks :)

I also want to re-check whether protocol supplied in `socket` has any effect when `IP_HDRINCL` is enabled. Maybe `Layer3(IpNextHeaderProtocol)` also needs to be redesigned.

On June 23, 2019 11:56:26 AM GMT+03:00, JDB <notifications@github.com> wrote:

[2019-06-23 09:06] JuxhinDB commented on #344
That's fine, take all the time you need. If I don't respond, feel free to ping me directly.

[2019-06-23 15:53] nikita-skobov commented on #376
Sure. I have restarted the server with a different IP, so if you are going to test it, please change
[code]
to
[code]

Also, instead of going to http://3.220.46.57/profile.jpg I just went to http://3.220.46.57/
because thats a single html page which makes the total number of packets easier to count.

running the PoC code, and then going to that URL I get:
[code]

On wireshark I got:
![iptest](http

[2019-06-23 16:36] JuxhinDB commented on #376
I am able to more or less reproduce it. Not exactly sure what is causing it but will try to take a look if it's part of core. If you figure it out, feel free to open a PR and we can work on it.

[2019-06-23 21:37] nikita-skobov commented on #376
I think I found something worth looking into:

https://github.com/libpnet/libpnet/blob/01f351a2c83cf078b71d76b206e4bd0722a26081/pnet_datalink/src/winpcap.rs#L103-L109

I was unable to find the actual documentation pages for npcap, but instead I found somebody built the docs and hosted them on a japanese domain [here...](http://dog.tele.jp/winpcap/html/group__packet32.html#a20)

I took a look at th

[2019-06-23 22:43] JuxhinDB commented on #376
This is a good start, well done. Also to confirm, have you tried this on Linux yet to see if it exhibits different behavior? Helps narrow the issue down. Unfortunately I'm currently quite busy to look into this, however I should be able to in a week or so.

[2019-06-24 00:50] nikita-skobov commented on #376
not yet, Ill look into it tomorrow on my ubuntu machine

[2019-06-24 17:00] nikita-skobov commented on #376
I made a repo for the PoC:
https://github.com/nikita-skobov/libpnet-poc

I tested it on ubuntu just now and got accurate results:
PoC:
[code]

Wireshark:
![Screenshot from 2019-06-24 11-55-04](https://user-images.githubusercontent.com/39128800/60037505-4edea700-9677-11e9-8e29-4020eededefa.png)

Originally I said linux had the bug as well, but I think I did something wrong then, because I tested it

[2019-06-25 07:21] JuxhinDB commented on #376
I'll see if I get reproduce this on my box too. If so it may be an npcap issue. Unfortunately I'm not exactly sure where/how to report that back to them if so.

[2019-07-11 19:06] Gymmasssorla opened #378 "Trying to understand pnet::packet::Packet"
The [`packet()`](https://docs.rs/pnet/0.22.0/pnet/packet/trait.Packet.html#tymethod.packet) method returns whole packet data including protocol headers, and the [`payload()`](https://docs.rs/pnet/0.22.0/pnet/packet/trait.Packet.html#tymethod.payload) method returns data that a user has specified. Is it right?

[2019-07-12 08:00] JuxhinDB commented on #378
Hi @Gymmasssorla -- that would be correct. Are you currently experiencing any issues with this?

[2019-07-12 12:43] Gymmasssorla commented on #378
Nope, just wanted to make sure of it. Thank you for your answer!

[2019-07-12 12:43] #378 closed

[2019-07-24 03:48] janrunePaessler opened #380 "Question: pnet and using [#packet]"
Newbie question about how to use [#packet]...
I've been banging my head on this for a few days, so I figured I'd ask, so sorry if it should be obvious...
I tend to jump in on the deep end to figure things out, so here we go...

I'm following the docs in "libpnet/docs/using_packet.md" trying to make wire-level packets using the macro's.
Are those guidelines current ? They were written over 2 years

[2019-07-25 08:21] JuxhinDB commented on #380
Hey @janrunePaessler -- thanks for reaching out, sorry to hear you're experiencing issues with the library. A couple things before I help dive deep into this:

- What exactly are you looking to achieve (high-level)?
- Would you be able to format the bottom-half of the ticket as it's hard to follow
- Though it does not use `pnet_macros` you can maybe look at [this](https://github.com/JuxhinDB/synne

[2019-07-25 13:04] janrunePaessler commented on #380
Hi JuxhinDB.

Thanks for getting back to me.

-   A fully functional TWAMP implementation(rfc5357).
  (like https://github.com/nokia/twampy/blob/master/twampy.py)
-   Implement using tokyo reactors.
-   I will publish the functional implementation here and probably in Redox...

I was trying to use the #packet macro to utilize the provided facilities for dealing with
variable length payloads and "a

[2019-07-28 06:07] JuxhinDB commented on #380
@janrunePaessler -- unfortunately I'm not too familiar with `#packet_macro`  so it could be the case that it's simply not maintained.

Regarding protobuf, there appears to be a [stable compiler](https://github.com/stepancheg/rust-protobuf) that you can use along with [serde](https://github.com/serde-rs/serde) -- not sure about examples.

Lastly, byte-swapping magic tends to happen with `pnet_macro

[2019-07-29 03:44] janrunePaessler commented on #380
Hi JuxhinDB.

Thanks for getting back to me.
Re: #packet_macro , no worries, I can do it "Old-School"...
 Any restrictions of which crates to include in pnetlib ?

I'll research the protobuf/serde options as well.

The to/from_be should work, but my goal is to use tokyo, so I'll find some good examples on Encode/Decode packets... There are some good examples in https://github.com/rusticata, but th

[2019-07-29 03:44] #380 closed

[2019-07-29 05:47] JuxhinDB commented on #380
Glad to help @janrunePaessler. Just to add, should you come up with some interesting example feel free to share them here or to twitter directly (@juxhindb) as I'd love to read more about it.

[2019-07-31 11:48] #376 closed

[2019-07-31 11:49] JuxhinDB commented on #364
Hi @mattlknight -- are you still interesting in helping with this?

[2019-07-31 12:14] mattlknight commented on #364
@JuxhinDB Yes, my apologies for the absence lately. I've been traveling for work a ton this summer and moving this weekend. Should be more involved in the next week or two.

[2019-07-31 13:07] JuxhinDB commented on #364
That's great, enjoy the vacation. :-) -- whenever you would like to be involved let me know.

[2019-08-06 06:54] dantodor opened #381 "No packets captured on local interface"
I'm trying to run the packetdump example on local interface to see packet capture capabilities.
Context: macOs 10.14.5 Mojave, rustc stable 1.36
While there are no errors and no compilation issues, the output I get on lo0 is

`[lo0]: Unknown packet: 00:00:00:00:00:00 > 00:00:00:00:00:00; ethertype: EtherType(0) length: 66

[lo0]: Unknown packet: 00:00:00:00:00:00 > 00:00:00:00:00:00; ethertype: Et

[2019-08-06 09:38] JuxhinDB commented on #381
Hey @dantodor -- thanks for raising this. Could you please provide me with a minimal code snippet that reproduces this.

[2019-08-07 12:00] dantodor commented on #381
Hey... Sorry for late reply... There isn't too much code to show. I just ran cargo new, then pasted the contents of the packet capture example inside it...

[2019-08-27 17:36] drrlvn commented on #368
I think #308 already addresses this issue, doesn't it?

[2019-09-07 16:42] drrlvn opened #382 "Make minimum_packet_size() a const fn"
This would allow using it in more places, e.g. for an array size.

[2019-09-12 05:04] alirez commented on #373
This issue seems to be reproducible using a simple tun device.

- Create a tun device:
[code]

- Then run this code:
[code]

[2019-09-22 17:00] #382 closed

[2019-10-06 23:38] clintnetwork opened #385 "HTTP call thought network interface"
Hi,

Is it possible to perform a http query though a network interface (i.e. eth1) ?

Thank you

[2019-10-07 07:12] JuxhinDB commented on #385
Really isn't the scope of libpnet as it's primarily focused on low level networking (L2/3/4) rather than application layer protocols. It is recommended to instead use a dedicated package such as [http](https://docs.rs/http/0.1.18/http/). Hope this answers your question.

[2019-10-07 07:12] #385 closed

[2019-10-07 14:12] clintnetwork commented on #385
Yeah sure, but it's a low-level networking because it's on a specific interface, I don't find any solution :(

[2019-10-21 13:24] kacejot opened #387 "Release v0.23.0"
Hi guys,
How soon the new release is supposed to happen?
I'm waiting for `pnet::transport::IcmpTransportChannelIterator::next_with_timeout` on stable.
Could you also give me a stable revision with this feature, so I could use it instead of master branch?

[2019-10-22 10:15] JuxhinDB commented on #387
Hi @kacejot -- unfortunately it looks like this project isn't really being maintained any longer. I would've loved to help contribute further, however I still would need mentorship from the original authors (and time) which makes this difficult to achieve.

If it's something you think you can help with, feel free to open an PR and I'll review it and we can merge.

[2019-10-22 15:50] mrmonday commented on #387
@JuxhinDB I can give you access to publish to `crates.io` if you don't already have it.

Take a look at previous "bump version" PRs for what needs doing - basically just bump up version numbers in toml files and the README, then follow the normal cargo publish procedure (I try to make sure to do this in a fresh clone so that other files don't get published by accident).

[2019-10-22 15:52] mrmonday commented on #387
Re: mentorship, I'm always happy to help if you have specific questions. I might be a little slow to respond, but I will help if I can.

[2019-10-23 16:46] JuxhinDB commented on #387
@mrmonday feel free to provide me with access. If you need details you should be able to DM me on twitter (@juxhindb). I can then take it from there and try to handle the release. Thanks!

[2019-10-23 16:51] mrmonday commented on #387
@JuxhinDB I've sent invites to you for (hopefully) all the `pnet*` crates on `crates.io` - let me know if I've missed any.

[2019-10-23 17:03] JuxhinDB commented on #387
@mrmonday Seems to be all of them. Thank you :-)

[2019-10-24 18:08] kacejot commented on #387
@JuxhinDB, so you're in charge here now :) What are your thoughts about making new release?

[2019-10-25 01:27] 06chaynes commented on #381
I'm seeing the same thing on macos loopback. tcpdump is showing IPv4 and IPv6 packets, but get_ethertype() in the handle_ethernet_frame function isn't getting a match. Still looking into why

[2019-10-29 07:40] JuxhinDB commented on #387
Apologies for the late reply. :-)

I'm setting a reminder to look into this later this week (ideally today) to come up with an idea on how to proceed. Hopefully we'll have this done soon enough

[2019-11-06 12:31] JuxhinDB commented on #387
Apologies for the late reply regarding this. Opened PR - https://github.com/libpnet/libpnet/pull/390

@mrmonday let me know if anything seems off. I'll give it some time then I'll merge

[2019-11-06 13:22] JuxhinDB commented on #387
Looks good to go. Forgot to squash commits but hopefully that isn't an issue. I'll leave the issue open to make sure that things still work for you guys

[2019-11-06 16:22] mrmonday commented on #387
I think the only thing missing is the git tag, otherwise looks good :)

Thank you @JuxhinDB!

[2019-11-06 19:53] JuxhinDB commented on #387
@mrmonday Drafted and released one now. I just tied it with the source code (no additional binaries). Pleasure to help

[2019-11-07 11:31] kacejot commented on #387
@JuxhinDB, thanks a lot!
I think we can close this one for now.

[2019-11-07 12:05] Florob opened #391 "Release of 0.23 broke 0.22 build"
The release of 0.23 seems to have broken 0.22 builds.
The specific error is
[code]

After chasing the dependency chain my understanding of this is as follows:
pnet 0.22 depends on pnet_packet 0.22. This in turn depends on pnet_macros_support 0.22 and pnet_base 0.22.
pnet_macros_support however depends on pnet_base >= 0.22.
With the release of 0.23 pnet_macros_support therefore began pulling in pne

[2019-11-07 12:30] #387 closed

[2019-11-07 12:31] JuxhinDB commented on #391
@mrmonday Would you like me to handle this in a similar fashion?

[2019-11-08 18:56] ctacke commented on #391
In the interim, you can get past the error by doing this pre-build:

`cargo update -p pnet_base:0.23.0 --precise 0.22.0`

[2019-11-18 10:17] imsnif commented on #391
Just a heads up, the above solution doesn't work for binary packages without a build step (since their Cargo.lock file is generated by crates.io). I had to solve this by upgrading to 0.23.0.

[2019-11-25 21:57] fragsalat commented on #332
Hey guys, first of all thx for the project and your work. Unfortunately I am to stupid to setup the dependencies on win10. I've installed winpcap 4.1.3 and copied the Package.lib from the zip archive of the 4.1.2 development pack from WpdPack\Lib\x64\Package.lib to myproject\lib\Package.lib

I'm still having the linker complaining about the not found file

[code]

[2019-11-26 08:11] JuxhinDB commented on #332
Hi @fragsalat -- try dumping the Winpcap libraries into your Rust toolchain, not into your project directory and see if that works.

In your case: `C:\Users\tschl\.rustup\toolchains\nightly-2019-08-18-x86_64-pc-windows-msvc\lib\rustlib\x86_64-pc-windows-msvc\lib\`

[2019-11-26 20:35] fragsalat commented on #332
Thank you, that worked. I guess %LIB% usually would point to that path or? I seem to don't have these variable in my cmd and therefore didn't tried it.
Hint from rust, debugging isn't possible with MSVC toolchain in clion. Run works.

Thanks <3

[2019-12-12 15:15] TyPR124 opened #392 "Possible UB in pnet_packet::util::checksum"
util::checksum, a public function, calls sum_be_words which converts a &[u8] to a &[u16], however it does not properly check alignment before doing so which can lead to undefined behavior because the user may call the function with non-u16 aligned data.

[2019-12-21 13:29] #392 closed

[2020-01-08 20:42] JuxhinDB commented on #391
This should now be fixed with 0.25.0. Sorry for the slow reaction to this. Hope it helps :-)

[2020-01-08 20:42] #391 closed

[2020-01-08 20:45] #381 closed

[2020-01-09 21:49] imsnif opened #397 "Upgrade to 0.25.0"
Hey @JuxhinDB - possibly related to the conversation here: https://github.com/imsnif/bandwhich/issues/101

I'm trying (make a PR) to upgrade `libpnet` on https://github.com/hughesac/packet_builder and not really managing.

The farthest I've got is with these dependencies:
[code]
At which point when I do `cargo test` I get:
[code]

Do you have a suggestion for a direction?

[2020-01-10 09:34] chifflier opened #399 "pnet_packet 0.25 panic in pnet_packet::ipv4::checksum"
Upgrade to 0.25 broke things, for ex I got a panic in ipv4::checksum:
[code]

The same code works with 0.23

Unfortunately, I cannot downgrade my dependencies to 0.23 because of #398

[2020-01-10 09:36] JuxhinDB commented on #397
Hey @imsnif -- this is a new one.. I'll be honest I only tried building, but the test suites seemed to be passing during the version dump. You're hitting this bug consistently?

[2020-01-10 09:42] chifflier commented on #399
Hmm, this one seems caused by aecd0c51
Is the check necessary ? I read packets from a pcap file, they are not necessarily aligned

[2020-01-10 09:54] JuxhinDB commented on #399
Hey @chifflier thanks for reporting this. You are correct, that seems to be the root cause. I should've have caught that prior to merging..

Will see what I can do to fix it. Unfortunately I'm packed right now. If you want to open a PR to fix it we can take a look at it together

[2020-01-10 09:55] JuxhinDB commented on #397
OK seems to be a PR I merged that caused the breaking change - https://github.com/libpnet/libpnet/issues/399

Will see what I can do to fix it.

[2020-01-10 13:32] chifflier commented on #399
I'm not sure exactly how to fix that.
The `checksum` function calls `sum_be_words`, which casts the pointer to an array of `u16`, so the alignment check is indeed required here.
Would you agree to a patch that changes `sum_be_words` to work with unaligned data (just checking the first byte as initial sum value if unaligned, then working on the rest, which would be aligned) ?

[2020-01-19 00:46] noah04 opened #404 "datalink - default network interface"
**TL;DR: Is a function for getting the default network interface needed/wanted?**

I'm working on a project where I use `libpnet` for packet sniffing. While porting from `pcap` (https://github.com/ebfull/pcap) to `libpnet`, I was missing an implementation to get the default network interface (capable of capturing packets).

With some research I found out that `pcap` uses a call to the `pcap_lookup

[2020-01-20 09:54] JuxhinDB commented on #404
HI @noah04 -- thanks for the detailed issue and research. We may want to implement this as a helper function. I think for the time being, we could just document this nicely in our docs so that it's still accessible and simple to implement. What do you think?

[2020-01-20 17:42] noah04 commented on #404
I created a PR where I wrote some documentation on this.

I added it to the `pnet_datalink::interfaces` functions documentation, since it wouldn't really fit into the [initial example](https://docs.rs/pnet/0.25.0/pnet/#ethernet-echo-server) as there is command-line-parsing involved to choose an interface.

Please note that this PR adds a new doc-test. It's designed not to fail unless the function

[2020-01-20 18:15] noah04 opened #406 "Outdated rustfmt configuration"
The configuration in [`rustfmt.toml`](https://github.com/libpnet/libpnet/blob/master/rustfmt.toml) is somewhat outdated. Here is the current status:

[code]

1. `format_strings = false`: This is the default configuration in the current `rustfmt`[<super>1</super>] and thus not necessary. In addition, this line causes the developer to use nightly for `cargo fmt` which is not needed.

2. `required_ve

[2020-01-22 14:57] bdbai opened #407 "Cannot obtain `sockaddr_ll` from `DataLinkReceiver::next`"
We want to identify whether a L3 datalink packet is sent to the interface or going outward. However, iterating over a `DataLinkReceiver` through [`DataLinkReceiverImpl::next`](https://docs.rs/pnet_datalink/0.25.0/src/pnet_datalink/linux.rs.html#95-216) only provides data packets, while `caddr` and anything else is not accessible.

The man page [packet(7)](https://linux.die.net/man/7/packet) says t

[2020-02-05 06:17] zhaojiangbin opened #410 "pnet_packet should now depend on newer version of pnet_macros"
pnet_packet v0.25.0 still has this dep spec:
[code]

But there is an API breaking changing after v0.21.0 in commit 7a0e9b6b1815c4bfd9354466d324349a701516aa.

I have a crate using libpnet v0.25.0. In a certain combination of deps, cargo somehow picks pnet_macros v0.21.0. That breaks the build. This following compilation error comes from a simplified reproduction:
[code]
While this might be an issue

[2020-02-05 10:12] JuxhinDB commented on #404
Hey @noah04 -- I replied on your PR. Went ahead and merged it, for the time being, this is fine (let's not ignore the doc-test. Thanks again for the help on this. :-)

[2020-02-05 10:12] #404 closed

[2020-02-05 10:15] JuxhinDB commented on #406
Hey @noah04, I took a look at your fork but there seems to be a number of changes. Would you like to make the `rustfmt` changes here and we'll see how it goes? If there are no major issues, I'd go ahead and merge it.

[2020-02-06 06:16] zhaojiangbin commented on #410
Turns out this issue happens because both pnet_macros and criterion depend on regex but with different version specs. Cargo can only use pnet_macros v0.21.0 which depends on the version of regex crate that satisfies both pnet_macros and criterion. In this case, Cargo does not know that pnet_macros v0.21.0 is API incompatible with pnet_packet v0.25.0.

Please see [this cargo issue comment](https://

[2020-02-09 23:14] 2over12 opened #411 "set_payload_length not labeled unsafe and does not check length of buffer"
MWE:

[code]

All safe rust but results in a heap overflow.

Miri output:

[code]

Checking the length of a payload write would be a decent first step for dealing with this and support in-place modification. Ideally, though I think it might be reasonable for MutablePackets to operate over https://docs.rs/bytes/0.5.4/bytes/trait.BufMut.html or BytesMut for that matter. Would allow for easier packet

[2020-02-11 07:53] JuxhinDB commented on #411
Thanks @2over12 for this. Will try to take a look at this shortly. If you would like to kickstart a PR on this, I would gladly help.

[2020-02-11 13:58] ignatenkobrain opened #412 "get_socket_receive_timeout resulted in error: Bad file descriptor (os error 9)"
[code]

[2020-02-11 14:07] JuxhinDB commented on #412
Hi, please give some more context to the issue, including a minimal working example, what behavior you were expecting and what actual behavior occurred. Once you have this in place, feel free to re-open this issue.

[2020-02-11 14:07] #412 closed

[2020-02-11 14:07] ignatenkobrain commented on #412
There is no minimal working example, you simply run `cargo test` and it fails.

[2020-03-26 12:03] chifflier commented on #399
Oh, I missed #403 (rebase mistake), sorry for that.

Closing (but still, the comment on dependencies still stands :) )

[2020-03-26 12:03] #399 closed

[2020-03-30 20:55] TheLostLambda commented on #276
Hello!

I have absolutely no idea if this has been addressed in the past 3 years, or if that this fix was ever added to the documentation, but I've come here after following a bug all the way from Bandwhich (which is built on a fork of libpnet). In our case, we haven't run into any panic, but (I'm 90% sure) we've been missing packets from pnet (which, apparently, are dropped by netmap).

In our ca

[2020-03-31 19:39] masche842 opened #415 "unnecessary parantheses warnings"
When building libpnet or using a local version in depending crates I get a plethora of unused_parens warnings like this:
[code]
With current rust versions this is especially annoying as warnings are displayed even if the crate isn't rebuilt.
There has been some discussion around this in https://github.com/rust-lang/rust/issues/66295, but I'm not sure how to apply this to libpnet.
A simple solution

[2020-04-01 15:07] mrmonday commented on #415
The emitted code already outputs various `#[allow]`s for generated code - it would make sense to do this for any other stylistic warnings that have been introduced.

If you're interested in working on this, search for `allow` in [this file](https://github.com/libpnet/libpnet/blob/450aab7fecde9ec01f8b06fc5d214b5511642540/pnet_macros/src/decorator.rs) for examples where it's already done.

[2020-04-02 14:49] mattlknight opened #417 "Automated CI/CD Builds Failing Due to Dependent Crates Adding "Edition" Flag"
Hey team,

I had some rare free time this morning, so I decided to help investigate the Travis and AppVeyor issues. Here are my current findings, please feel free to correct me if I have made a mistake. @mrmonday  @JuxhinDB.

AppVeyor Sep 16th 2019, first crate 'ipnetwork' failure, Pull request #383 - Update ipnetwork requirement from 0.14.0 to 0.15.0, Cargo.toml depends on ipnetwork = "0.14.0", w

[2020-04-02 14:53] mattlknight commented on #417
P.S. - I'm leaving my job next week, and don't have one currently lined up, so I plan on hopefully helping out more in the coming weeks.

[2020-04-15 04:25] pheki commented on #417
Looks like the build error on linux is:
[code]
Which is probably due to this bug in time 2.9: https://github.com/time-rs/time/issues/237, fixed by https://github.com/time-rs/time/commit/dcf41908e4d9f787142953c1fbcfe9750360637b (which has not been released yet).

Also, doesn't it make sense to enable windows build in travis? It has been available since October 2011.

[2020-04-15 05:39] pheki commented on #397
Hasn't this been fixed by #403?

[2020-04-18 21:15] patVog commented on #417
@pheki IMHO it is due to integration of time crate into std. See: https://stackoverflow.com/questions/55583503/is-stdtimeduration-as-precise-as-timeprecise-time-ns-from-time-crate

I think I have a working solution for this but I cannot verify it since I do not really know how to run the benchmark tests. If I do `cargo bench` it runs the 'regular' tests (with some failing <- I need to investigate

[2020-04-19 02:03] Daniel-Liu-c0deb0t opened #418 "Error when setting time to live on TransportSender with Layer4 IPv6 protocol"
I encountered the OS error `Protocol not available` when using
[code]
after creating a TransportSender through
[code]
I suspect that setting the ttl for Ipv6 by using a Config may also lead to this error.

[2020-04-24 09:05] WarmongeringBeaver opened #419 "Broken links to source code on doc"
Some links pointing to source code in the [online doc](https://docs.rs/pnet) are broken (see [here](https://docs.rs/pnet/0.25.0/pnet/packet/icmp/struct.IcmpPacket.html) for example).

[2020-04-26 04:56] kishiguro commented on #369
I have some bandwidth to help libpnet.  I was doing a lot of networking software development and recently heavily using libpnet on several project.

[2020-04-26 08:41] JuxhinDB commented on #369
@mrmonday would you like to invite @kishiguro? I will be able to start maintaining the project again after mid-July unfortunately.

[2020-04-26 11:23] mrmonday commented on #369
Should have received an email, thanks for volunteering, @kishiguro!

[2020-04-26 17:10] kishiguro commented on #369
Thanks guys, I've just got an invitation.  I'll try my best for contributing to the project.  I just made a milestone  libpnet 0.26 which will have some of bug and warning fixes.

[2020-04-26 17:26] kishiguro commented on #419
Thanks for reporting.  I just confirmed the issue.  The [src](https://docs.rs/pnet_packet/0.25.0/src/pnet_packet/opt/rustwide/target/debug/build/pnet_packet-acfed4c7b76342c4/out/icmp.rs.html#90-92) link shows `The requested resource does not exist`.  Let me try to fix it.

[2020-04-26 17:38] kishiguro commented on #418
You are right.  Current code call setsockopt with IP_TTL as an argument whether it is IPv4 or IPv6.  In case of IPv6 it should be IPV6_HOPLIMIT.

[code]

Let me add IPv6 setsockopt handler at here.

[2020-04-26 18:50] Daniel-Liu-c0deb0t commented on #418
Thank you!

[2020-04-26 21:15] kishiguro commented on #418
Sorry for my mistake.  It seems transport_channel() create a socket with socket(AF_INET6, SOCK_RAW, 0); (as written C manner) not SOCK_STREAM nor SOCK_DGRAM.
In such case, setsockopt(IPPROTO_IP, IP_TTL) succeed but setsockopt(IPV6_PROTO, IPV6_UNICAST_HOPS) failed like this.
[code]
This is due to the socket is not layer 4 socket.   We might need to have manipulation routine for IPv6 header's hoplim

[2020-04-26 21:34] kishiguro commented on #417
It seems `precise_time_ns` error was fixed in travis build pipeline.  AppVeyor still pointing to Rust 1.27.1 and Cargo 1.27.0.  Let me try to bump up the stable version to 1.43.0.

[2020-04-26 21:45] #417 closed

[2020-04-26 21:59] #415 closed

[2020-04-26 23:17] kishiguro commented on #410
Forth coming pnet_packet v0.26 will have dependency to pnet_macro v0.26.

[2020-04-26 23:25] kishiguro commented on #406
I think we just keep reorder_imports and add edition to it.
[code]
how do you think?

[2020-04-27 00:06] #368 closed

[2020-04-27 01:26] #410 closed

[2020-04-27 02:07] #406 closed

[2020-04-27 05:18] kishiguro opened #430 "Release 0.26.0"
@mrmonday @mattlknight @JuxhinDB I made some changes to repository to fix warnings and bugs.  [Milestones libpnet 0.26](https://github.com/libpnet/libpnet/milestone/2) is the summary of changes.  If you guys are ok, I may go forward for releasing 0.26.0.

[2020-04-27 06:52] mrmonday commented on #430
Had a brief look through, my only comment is re: #424 - that block is intended for the minimum supported Rust version - there's another block to test the current stable channel.

If the minimum version has increased, it should use that version - if you want to change the policy to only support the latest Rust, you could just remove that block entirely.

[2020-04-27 16:16] kishiguro commented on #430
Thanks for the comment.  Let me try to set the minimum supported Rust version to 1.31 (first 2018 edition).  I hope that many people shifted to 2018 edition.

[2020-04-27 22:39] kishiguro commented on #430
With several try, it seems 1.34.2 would be the minimum supported rust version for now.  time crate require >= 1.34, and 1.34.2 is the good for security patch.

[2020-04-28 04:04] #274 closed

[2020-04-28 05:09] kishiguro commented on #373
Thanks, I could reproduce the issue.
As @nemosupremo pointed out, we should avoid executing unwrap() in the library and just simply return Option<MacAddr> to the caller.  Let me make a PR for it.

[2020-04-28 05:40] kishiguro commented on #373
Since mac field of struct NetworkInterface is pub, I would suggest that making mac_address() to be deprecated and use NetworkInterface.mac instead.

[code]

[2020-04-28 06:17] #373 closed

[2020-04-28 22:36] kishiguro commented on #430
I think current main branch would be a good shape to release 0.26.0.  I've briefly tried on Linux, macOS, Windows and see no major issue.  If you guys are ok, would you mind to invlite my github account `kishiguro` to crate.io's pnet package?

[2020-04-29 10:28] JuxhinDB commented on #430
Hey @kishiguro -- I went ahead and sent you over the invites on crates.io. Please let me know if you received them. :-)

[2020-04-29 23:39] kishiguro commented on #430
@JuxhinDB thanks!  I've got the invites.  Let me try to update carates.io package to 0.26.0.

[2020-04-30 04:09] kishiguro commented on #430
@JuxhinDB I may need access to pnet_sys, pnet_packet, pnet_transport as well.

[2020-05-01 17:51] kishiguro commented on #371
Thanks. Let me add LICENSE and README.md for each packages.

[2020-05-01 18:06] kishiguro commented on #397
I'm expecting this would be fixed by pnet-0.26.0 update as well.

[2020-05-01 18:17] JuxhinDB commented on #430
Sorry about the delay @kishiguro -- I only saw this now. Added you to those as well. :-)

[2020-05-01 18:23] kishiguro commented on #430
@JuxhinDB np, thanks a lot!

[2020-05-01 19:07] kishiguro commented on #419
still not working even with 0.26.0 release.  let me investigate more in detail.

[2020-05-01 19:12] kishiguro commented on #430
Just released 0.26.0. Hope i don't break the package...

[2020-05-01 19:13] kishiguro commented on #397
@imsnif would you mind to try 0.26.0 and see how it goes?

[2020-05-01 19:22] kishiguro commented on #302
I believe this won't happen newer version of libpnet.  Let me close this for now.  If you keep on having the issue, please feel free to reopen it.

[2020-05-01 19:22] #302 closed

[2020-05-01 20:52] kishiguro commented on #419
I think I figured out root cause.  Source code for pnet::packet::icmp::IcmpPacket is generated from libpnet/pnet_packet/src/icmpv6.rs.in as defined in icmpv6.rs:

[code]

So source code is referred as target build directory file:

[code]

but this does not exists in crates's package.  I'll try to find is there any alternative way to avoid this issue.

[2020-05-01 20:56] kishiguro commented on #278
since this issue has been solved long time ago, let me close this issue.

[2020-05-01 20:56] #278 closed

[2020-05-01 21:02] kishiguro commented on #242
enum PacketData is pub now.  let me close this ticket.

[2020-05-01 21:02] #242 closed

[2020-05-02 04:22] #430 closed

[2020-05-02 08:55] mrmonday commented on #369
Thank you for stepping up - my inbox has been full of pull requests being merged and issues being resolved basically every day - it seems libpnet is in good hands!

[2020-05-03 10:03] imsnif commented on #397
Hey @hughesac - do you think you can try upgrading packet_builder to 0.26.0? I think it'll be faster on your end. If it works, I think I'll be able to upgrade bandwhich to use the new version of packet_builder and then also upgrade its own dependency on pnet to 0.26.0. What say you?

[2020-05-03 15:48] hughesac commented on #397
Thanks for the heads up.  I upgraded to 0.26.0 and the build and tests are working again.  The version with the changes is 0.5.0.

[2020-05-03 15:53] kishiguro commented on #397
Thanks for confirming!  let me close this.ticket.

[2020-05-03 15:53] #397 closed

[2020-05-03 19:14] imsnif commented on #397
Hey, just released bandwhich 0.14.0 that depends on pnet 0.26.0 and packet_builder 0.5.0. Looks great. Thanks to the both of you!

[2020-05-04 05:55] kishiguro commented on #371
Just added LICENSE files.   README.md is referred as `readme = "../README.md"` until we have each sub package documentation.  Will be reflected in next release 0.27.0.

[2020-05-04 19:19] #371 closed

[2020-05-05 21:36] kEDIT opened #440 "Add support for netflow v5/v9?"
Hello,

I've been working on a NetFlow V9 packet definition in my spare time, would this be worth submitting a PR upon completion? If so I would also like to work on NetFlow V5 packet definition and submit that too.

[2020-05-05 22:10] kishiguro commented on #440
That  would be very very welcome!  Please provide the PR so that we can integrate it into next release.

[2020-05-05 22:15] kEDIT commented on #440
Great! I'll tidy it up over the next week or so and submit it.

On Tue, May 5, 2020 at 3:10 PM Kunihiro Ishiguro <notifications@github.com>
wrote:

[2020-05-08 18:46] masche842 commented on #349
Just a quick heads up for others stumbling upon this:
In the meantime I've tried npcap and while it worked flawlessly in general, but the packet losses persisted.
I've finally figured out it had something to do with the configured buffer sizes. Default buffer size (4096) -> packet loss. Buffer size too large -> high latency as multiple packets are bundled first. In my case 16384 yielded a good com

[2020-05-11 23:12] kishiguro opened #443 "promiscuous mode to be configurable"
Current implementation enable promiscuous mode by default.  We should make promiscuous mode to be configurable.

[2020-05-11 23:18] kishiguro commented on #349
Thanks for the information.  That makes sense, let me try at my local env and apply the change to the repository.

[2020-05-13 06:11] kishiguro opened #444 "Release 0.27.0"
Here is rough plan for next release 0.27.0.

* update crates to newer one (at least we are planning to migrate winapi to 0.3)
* add new protocol support such as NetFlow, Layer 3 IPv6.

Also we will revisit issues as much as possible.  some of the issues are filed quite a long time ago so it may not applicable to current implementation.
If you have any specific request to next release, please comme

[2020-06-02 15:45] mazurwiktor opened #447 "Empty slices received on datalink::channel since npcap 0.9991."
With older versions of npcap everything seems to works fine.

Since `0.9991` packetdump receives empty packets on `datalink::channel`. When empty slices are being omitted it seems that despite incoming data it is not being registered.

Gist to reproduce https://gist.github.com/mazurwiktor/c0eb593bc7a721d9027478a8610bf4e3

[2020-06-04 19:45] mazurwiktor commented on #447
It looks like issue this issue is not reproducible in `npcap 0.9992` :)

[2020-06-04 19:45] #447 closed

[2020-06-09 03:31] kbknapp opened #448 "Is MutablePacket::clone_from sound?"
Possibly related to #142

I was going through some of the intro docs to this lib as it looks like it could fit for an upcoming project :smile:

However, in example number one it shows use of `MutablePacket::clone_from`, so I dove in to see how it was written.

I could be wrong, as the idiosyncrosis of `unsafe` are not my forte, however I don't believe the function as written is sound for two reaso

[2020-06-19 10:18] 0xdeafbeef opened #449 "Segfault in icmp send"
https://github.com/0xd34b33f/cloudflare-ping/blob/06e359d16fff09839cc6a09b1ebdcacb9788ee91/src/ping_core.rs#L332
Segfault, when sending icmp packet. Works in debug mode or in --march=native. Doesn't work in release mode

[2020-06-19 15:14] kishiguro commented on #449
Let me check.

[2020-06-19 20:02] 0xd34b33f commented on #449
Tested under Linux and macOS. On Linux it works, on macOS it segfaults or doesn't work at all

[2020-06-25 18:22] 0xd34b33f commented on #449
[code]

[2020-06-25 18:34] 0xd34b33f commented on #449
[code]

[2020-06-28 20:35] maspe36 opened #450 "WebAssembly support"
Hi bit of an odd question but, is it possible to use libpnet with the `wasm32-unknown-unknown` rustup toolchain?

EDIT: Forgive my ignorance! It is not possible with just WebAssembly, but it may become possible with [WASI](https://wasi.dev/) but it might end up being stuck with just sockets.

[2020-06-28 21:22] #450 closed

[2020-07-08 18:29] sharksforarms opened #451 "Access to error types?"
I would like to be able to match on the error getting returned from Channel `.next()` for example to differentiate between `NoMorePackets` and others.

[2020-07-10 02:46] kbknapp commented on #449
I took a look at this out of curiosity and it looks like this is because for some reason Rust is optimizing out the `rx` local variable in [`cloudflare-ping/src/ping_core.rs:304`](https://github.com/0xd34b33f/cloudflare-ping/blob/06e359d16fff09839cc6a09b1ebdcacb9788ee91/src/ping_core.rs#L304)

[2020-07-10 02:52] kbknapp commented on #449
I'm on a Linux system (Fedora 32). I compiled `cloudflare-ping` in release mode with debug symbols included:

[code]

Then compile and start in GDB, and running the following:

[code]

Which results in this screenshot:

![2020-07-09_22-49](https://user-images.githubusercontent.com/6942134/87111235-d8d3c080-c236-11ea-90f5-b9b530154a66.png)

[2020-07-10 10:50] 0xd34b33f commented on #449
What I  found out, it fails on that [line](https://github.com/libpnet/libpnet/blob/3e76647c42649c5ca6bb8bbc08074894d9457a54/pnet_transport/src/lib.rs#L355) trying to dereference fd of underlying socket. I tried to create a mre, but it works as expected and no segfaults :( @kbknapp, maybe it's problem with compiler itself?

[2020-07-10 13:25] kbknapp commented on #449
Could be, but it could also be something libpnet is doing that hints to the compiler this is safe. For example there are many times throughout the `std` documentation where it's stated that certain uses of the API will invoke UB because the compiler makes assumptions for certain optimizations. See the [`std::mem::MaybeUninit`](https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#initialization

[2020-07-10 19:52] 0xdeafbeef commented on #449
@kishiguro what you think, should I create an issue on rustsec for it?

[2020-07-10 20:18] ShehriyarQureshi opened #452 "Adding Serialize/Deserialize traits to Packet structs"
Would it be a good idea to add serde's `Serialize` and `Deserialize` traits to the Packet structs e.g. `Ipv4` or `Udp`?

I believe it would make it easier for users to then be able to serialize packet objects to be used e.g. to make `IPv4Packet` etc.

I'm trying to convert `Ipv4` to `Ipv4Packet` and am using `bincode` for it, and the current workaround is to replicate the struct definition locally

[2020-07-11 05:23] kishiguro commented on #449
let's create an issue on rustsec for it.  we might be able to have help on the issue.  @0xdeafbeef would you mind to do the effort?

[2020-07-11 09:21] 0xdeafbeef commented on #449
@kishiguro I'll do it

[2020-07-11 10:12] 0xdeafbeef commented on #449
[Done](https://github.com/RustSec/advisory-db/pull/335)

[2020-07-12 00:02] Shnatsel commented on #449
Thanks for the RustSec PR! Sadly the WG maintaining it cannot really help at this time, but here are other places to get help:

1. [Rust Community Discord](https://discord.gg/aVESxV8) has `#black-magic` channel with people who are knowledgeable about this sort of thing and are usually willing to help out
1. Rust [forums](https://users.rust-lang.org/) or [reddit](https://www.reddit.com/r/rust/) can

[2020-07-12 08:42] ilyagrishkov opened #453 "icmp_packet_iter crashes on Windows"
I've been playing around with libpnet on different platforms, and I couldn't make this code work on Windows.

[code]

I've tested it on MacOS (so I assume it should also work on Linux) and it waits for the next icmp packet that arrives and prints out the address (as expected), but on Windows (MSVC toolchain, WinPcap 4.1.3)  it crashes with the following error:

[code]

I observed very similar beha

[2020-07-15 09:21] ShehriyarQureshi commented on #452
nvm we can just make a `MutableIpv4Packet` or `Ipv4Packet` and use `packet()` to get the buffer.

[2020-07-15 09:21] #452 closed

[2020-07-18 09:24] 0xdeafbeef commented on #449
Error in this method. https://github.com/libpnet/libpnet/blob/3e76647c42649c5ca6bb8bbc08074894d9457a54/pnet_transport/src/lib.rs#L355.
[code]
When I invoke this, `println!()` segfaults while formatting

[2020-07-24 05:40] tdryer commented on #449
This looks like a buffer overrun. The application [uses 40 byte buffers](https://github.com/0xdeafbeef/cloudflare-ping/blob/06e359d16fff09839cc6a09b1ebdcacb9788ee91/src/ping_core.rs#L328-L329) for both the IPv4 and ICMP data. When [`ipv4_packet.set_payload` is called](https://github.com/0xdeafbeef/cloudflare-ping/blob/06e359d16fff09839cc6a09b1ebdcacb9788ee91/src/ping_core.rs#L59
), it copies the I

[2020-08-12 20:46] ilyagrishkov commented on #369
I would love to maintain libpnet. I'm currently developing / maintaining [another open-source project](https://github.com/fasten-project/fasten) and I've also recently built [a small library based on libpnet](https://github.com/ilyagrishkov/libtraceroute). I really believe there is a great potential in Rust, and a low-level networking library is a _must_ for such language. I might not be able to c

[2020-08-15 07:29] TheOnlyArtz opened #457 "Failed to build on Windows"
I'm trying to use the packetdump example and failing to build
[code]

`rustc 1.45.2 (d3fb005a3 2020-07-31)`
`cargo 1.45.1 (f242df6ed 2020-07-22)`

[2020-08-15 07:52] TheOnlyArtz commented on #457
Didn't install the corrent Packet.lib (installed x86 instead of x64).
FIXED.

[2020-08-15 07:52] #457 closed

[2020-08-15 08:41] TheOnlyArtz opened #458 "Some things I want to understand about libpnet"
Hello there, I'm studying computer science and networking.

For my final project I'm looking for using Rust and libpnet specifically.
The goal of the project is to simulate an hardware piece which sits on top of a router and collects data
about the network activity, generates analysis information and in the future maybe IDS/IPS (Intrusion Detection/Prevention System)

I would like to know how it i

[2020-08-17 07:41] #362 closed

[2020-09-02 18:30] A-Helberg opened #460 "Not getting vlan packets"
Hi,

I'm hoping that someone can point me in the right direction.
I seem to be unable to capture vlan ethernet frames on some machines.
From the below code, on some machines it never prints "vlan".

If I uncomment the print for the ether type, I get a lot of ARP and IPv4 packets (as expected).
I can see the vlan packets when running wireshark on the machines where the below program can't.

[code]

[2020-09-02 18:42] A-Helberg commented on #460
<details open>
<summary>Ethtool for a working machine:/summary>
<br>
# ethtool -k eno2
Features for eno2:
rx-checksumming: on
tx-checksumming: on
	tx-checksum-ipv4: off [fixed]
	tx-checksum-ip-generic: on
	tx-checksum-ipv6: off [fixed]
	tx-checksum-fcoe-crc: off [fixed]
	tx-checksum-sctp: off [fixed]
scatter-gather: on
	tx-scatter-gather: on
	tx-scatter-gather-fraglist: off [fixed]
tcp-segmentatio

[2020-09-03 09:45] alan20210202 commented on #453
Same problem here. It seems that the problem is not limited to `icmp_packet_iter` but other packet iterators as well. The error arises in the call to `recvfrom`. MSDN says that error 10022 is due the socket not being bound by `bind()`. I don't see where pnet calls `bind()`, so perhaps this is the cause?

[2020-09-03 13:46] alan20210202 commented on #453
I find a quick and dirty fix that works on my computer ([reference](https://stackoverflow.com/a/9174392)):

[code]
Just add it right after creating a channel:
[code]

The side effect of this fix is that the receiver now also receives **outgoing** packets, so some filtering must be done.

This fix should work (not tested) for other protocols and packet iterators as well. Just bind to `0.0.0.0` and

[2020-09-03 21:18] Jc2k commented on #460
I remember having a similar problem with a python library and iirc vlans were getting stripped by the kernel before they hit userspace. Wireshark and tcpdump were actually reconstituting them with data from an aux data API.

Maybe there is something in here?

https://github.com/secdev/scapy/pull/2091

[2020-09-04 09:48] A-Helberg commented on #460
Thanks @Jc2k
It seems you are absolutely correct.

If the packet is coming in over a physical device, the vlan tag gets stripped.

It seems that packets originating internal ( eg. A VM with a nic, vlan tagged in the hypervisor) are not stripped of their headers, which is what I was using for my testing.

I managed to use the pcap library with few changes to the above code, to get the tagged vlan p

[2020-09-24 08:12] ArtBlnd opened #461 "Receives packet that sent with channel itself."
I am working on macos(darwin)
sending packet correctly to WAN but it does loopback

[2020-10-02 16:53] pheki opened #463 "Travis not running"
It seems to me that only appveyor is running and, as a consequence, only windows is being tested.

Also the rustc versions tested in `.travis.yml` and `appveyor.yml` differ...

[2020-10-09 02:41] lenna-kun opened #465 "The memory layout of bpf_hdr must be repr(C)."
`struct bpf_hdr` in `pnet_datalink/src/bindings/bpf.rs` needs `#[repr(C)]` because it is used to interpret bpf packet by mem::transmute().

[2020-10-09 03:25] kishiguro commented on #465
thanks for reporting.  Yes as you pointed out `#[repr(C)]` should be defined.  Let me fix it.

[2020-10-09 03:39] #348 closed

[2020-10-09 04:05] kishiguro commented on #463
thanks for reporting, let me check.

[2020-10-09 04:09] kishiguro commented on #463
@mrmonday @JuxhinDB @mattlknight can we double check TravisCI set up?  seems it is not running...

[2020-10-09 06:04] kishiguro commented on #461
what kind interface the WAN is?

[2020-10-09 15:44] mrmonday commented on #463
Don't know why it wasn't triggered - I closed and re-opened all recent PRs where Travis wasn't triggered, it seems to be running now.

[2020-10-11 00:14] kishiguro commented on #463
@mrmonday thanks a lot!

[2020-10-11 00:14] #463 closed

[2020-10-11 00:15] kishiguro commented on #465
merged, let me close the ticket.

[2020-10-11 00:16] #465 closed

[2020-11-07 10:56] #458 closed

[2020-11-27 15:43] FlyingRatBull commented on #449
As per [the Rust security advisory DB](https://github.com/RustSec/advisory-db) this bug should be fixed in 0.26.0 but this issue is still open and the pull request not yet merged. Is this still an issue in 0.26.0 or should I create a pull request to update the advisory DB?

[2020-11-27 17:36] mrmonday commented on #449
It is not fixed in `0.26.0`, I'll rebase the PR and if CI passes release a `0.27.0` with the fix.

The advisory DB should probably be against the `pnet_transport` crate rather than `pnet`.

[2020-11-27 18:37] #411 closed

[2020-11-27 18:37] #449 closed

[2020-11-28 08:27] FlyingRatBull commented on #449
Thank you for your quick help!

[2021-01-01 08:10] cathay4t commented on #245
Is there any change to allow accessing the raw socket number returned by `pnet::datalink::channel()`?

With that, user can use `libc::setsockopt(sockfd, SOL_SOCKET, SO_ATTACH_FILTER, &val, sizeof(val));` to the BPF filter
by themselves or through a crate.

[2021-01-10 08:18] badpooh commented on #419
Source code generated is not friendly to IDE.

[2021-01-24 11:24] JuxhinDB commented on #453
Any additional details/references to this would be great. I'll try to find some time to troubleshoot this but at face value, I get the impression that it's part of a larger problem.

[2021-01-24 11:27] JuxhinDB commented on #444
I believe this can be closed as we've already release 0.27.2. If there are still missing points from the above we can have a separate milestone towards that works towards that release. :-)

[2021-01-24 11:27] #444 closed

[2021-02-01 09:17] TurnOfACard opened #471 "Extended LinkType Support - USB PCAP"
I've written code for libpnet for two different [link types](https://www.tcpdump.org/linktypes.html). The one I see as more common  is the [USB PCAP link type](https://desowin.org/usbpcap/captureformat.html), I'd like to contribute the code by raising a pull request if this would be desirable?

Is there a policy for which link types are suitable for merging?

[2021-02-11 10:07] bigdogs opened #473 "build failed on android target"
Hello, there are same errors when I tried to build with target aarch64-linux-android
![image](https://user-images.githubusercontent.com/20614926/107623240-02087380-6c94-11eb-88ee-a02881cfdf14.png)

[2021-02-11 10:11] bigdogs commented on #473
Seems the reason is  "getifaddrs"  is not available until  24, and my build target is android 21 :(

[2021-03-07 13:37] decathorpe opened #474 "pnet_datalink: invalid CString pointer use in unix_interfaces::interfaces ?"
[code]

Looking at the code, it looks like this might be a false positive warning, because the pointer is only used to calculate the `index` field, and not used for anything else. If that is the case, could `#[allow(temporary_cstring_as_ptr)]` be added to this block / statement so users are not getting this "concerning" warning?

[2021-03-08 17:18] #474 closed

[2021-03-08 17:19] mrmonday commented on #474
This is valid - pushed a fix in commit d49605d.

[2021-03-08 17:19] mrmonday commented on #474
Thanks for the report!

[2021-03-16 13:29] chifflier commented on #355
Hi,
I have worked on a rewrite of the `proc_macro` crate, removing all `syntex` dependencies, and using only `syn`, `quote` and `proc_macro`. It basically works (test suite passes, and the good news is it does not require many changes in code using `[packet]`), but it needs some polishing (some things changed, for ex in the way errors are returned) and tests. I intend to submit a PR after some cle